<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title>SK Telecom</title>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="shortcut icon" href="images/favicon.ico">
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div id="header">
		<div class="full_box1">
			<div class="center">
				<a href="#"><img src="images/skt.png" alt="logo" /> </a><a href="#"><img src="images/lang_eng.png" alt="english" /></a><a href="#"><img src="images/5g.png" alt="5g" /></a>
				<div class="button">
					<span class="top"></span>
					<span class="middle middle1"></span>
					<span class="middle middle2"></span>
					<span class="bottom"></span>
				</div>
			</div>
		</div>
		<div class="full_box2 ">	
			<ul>
				<li class="height"><a href="#" class="title">SK텔레콤 소개</a>
					<ul>
						<li ><a href="#" class="bold">SK텔레콤</a></li>
						<li><a href="#" class="bold">사업소개</a></li>
					</ul>
				</li>
				<li class="height"><a href="#" class="title">투자정보</a>
					<dl class="mt">
						<dt><a href="#" class="bold">경영정보</a></dt>
						<dd><a href="#">지배구조</a></dd>
						<dd><a href="#">주주총회</a></dd>
						<dd><a href="#">정관</a></dd>						

						<dt><a href="#" class="bold">재무정보</a></dt>
						<dd><a href="#">재무 하이라이트</a></dd>
						<dd><a href="#">신용등급</a></dd>					

						<dt><a href="#" class="bold">주식정보</a></dt>
						<dd><a href="#">주주현황</a></dd>
						<dd><a href="#">주주환원</a></dd>					
						<dd><a href="#">주가정보</a></dd>					
					</dl>
					<dl class="mt">
						<dt><a href="#" class="bold">IR자료실</a></dt>
						<dd><a href="#">실적발표</a></dd>
						<dd><a href="#">Presentation</a></dd>					
						<dd><a href="#">사업 보고서</a></dd>					
						<dd><a href="#">통합 보고서</a></dd>					
						<dd><a href="#">분쟁광물</a></dd>					
						<dd><a href="#">공시정보</a></dd>					
						<dd><a href="#">FAQ</a></dd>					
						<dt><a href="#" class="bold">전자공고</a></dt>		
						<dd style="display:none;"><a href="#">FAQ</a></dd>	
					</dl>																
				</li>
				<li class="height"><a href="#" class="title">지속가능경영</a>
					<ul>
						<li><a href="#" class="bold">책임경영</a></li>
						<li><a href="#" class="bold">사회기여활동</a></li>
						<li><a href="#" class="bold">지속경영 자료실</a></li>	
						<li><a href="#" class="bold">이해관계자 참여</a></li>	
						<li><a href="#">정책</a></li>	
						<li><a href="#">참여 Framework</a></li>	
					</ul>				
				</li>
				<li class="height"><a href="#" class="title">홍보센터</a>
					<ul>
						<li><a href="#" class="bold">미디어</a></li>
						<li><a href="#" >광고</a></li>
						<li><a href="#" >보도자료</a></li>	
						<li><a href="#" class="bold">브랜드</a></li>	
						<li><a href="#" class="bold">T.um</a></li>	
						<li><a href="#" class="bold">스포츠</a></li>	
					</ul>					
				</li>
				<li class="height"><a href="#" class="title">인재채용</a>
					<ul>
						<li><a href="#" class="bold">HR 제도</a></li>
						<li><a href="#" class="bold">채용정보</a></li>
					</ul>				
				</li>
				<li class="height"><a href="#" class="title">고객지원</a>
					<ul>
						<li><a href="#" class="bold">공지사항</a></li>
						<li><a href="#" class="bold">FAQ</a></li>
						<li><a href="#" class="bold">상호접속협정서</a></li>
						<li><a href="#" class="bold">통화량 캘린더</a></li>
					</ul>					
				</li>
				<li class="bg"></li>
			</ul>
		</div>
		
		
		<div class="mobile_box" >	
			<ul>
				<li class="height"><a href="#" class="title">SK텔레콤 소개</a>
					<ul>
						<li ><a href="#" class="bold">SK텔레콤</a></li>
						<li><a href="#" class="bold">사업소개</a></li>
					</ul>
				</li>
				<li class="height"><a href="#" class="title">투자정보</a>
					<ul>
						<li><a href="#" class="bold">경영정보</a></li>
						<li><a href="#">지배구조</a></li>
						<li><a href="#">주주총회</a></li>
						<li><a href="#">정관</a></li>						

						<li><a href="#" class="bold">재무정보</a></li>
						<li><a href="#">재무 하이라이트</a></li>
						<li><a href="#">신용등급</a></li>					

						<li><a href="#" class="bold">주식정보</a></li>
						<li><a href="#">주주현황</a></li>
						<li><a href="#">주주환원</a></li>				
						<li><a href="#">주가정보</a></li>	
						<li><a href="#" class="bold">IR자료실</a></li>
						<li><a href="#">실적발표</a></li>
						<li><a href="#">Presentation</a></li>			
						<li><a href="#">사업 보고서</a></li>					
						<li><a href="#">통합 보고서</a></li>				
						<li><a href="#">분쟁광물</a></li>				
						<li><a href="#">공시정보</a></li>				
						<li><a href="#">FAQ</a></li>					
						<li><a href="#" class="bold">전자공고</a></li>		
						<li><a href="#">FAQ</a></li>
					</ul>															
				</li>
				<li class="height"><a href="#" class="title">지속가능경영</a>
					<ul>
						<li><a href="#" class="bold">책임경영</a></li>
						<li><a href="#" class="bold">사회기여활동</a></li>
						<li><a href="#" class="bold">지속경영 자료실</a></li>	
						<li><a href="#" class="bold">이해관계자 참여</a></li>	
						<li><a href="#">정책</a></li>	
						<li><a href="#">참여 Framework</a></li>	
					</ul>				
				</li>
				<li class="height"><a href="#" class="title">홍보센터</a>
					<ul>
						<li><a href="#" class="bold">미디어</a></li>
						<li><a href="#" >광고</a></li>
						<li><a href="#" >보도자료</a></li>	
						<li><a href="#" class="bold">브랜드</a></li>	
						<li><a href="#" class="bold">T.um</a></li>	
						<li><a href="#" class="bold">스포츠</a></li>	
					</ul>						
				</li>
				<li class="height"><a href="#" class="title">인재채용</a>
					<ul>
						<li><a href="#" class="bold">HR 제도</a></li>
						<li><a href="#" class="bold">채용정보</a></li>
					</ul>				
				</li>
				<li class="height"><a href="#" class="title">고객지원</a>
					<ul>
						<li><a href="#" class="bold">공지사항</a></li>
						<li><a href="#" class="bold">FAQ</a></li>
						<li><a href="#" class="bold">상호접속협정서</a></li>
						<li><a href="#" class="bold">통화량 캘린더</a></li>
					</ul>					
				</li>

			</ul>
		</div>	

		
	</div>
	
	<div class="img_slide cf">
		<div class="slide">
			<img src="images/banner_bg_1.png" alt="banner" class="on"/>
			<img src="images/banner_bg_2.png" alt="banner" />
			<img src="images/banner_bg_3.png" alt="banner" />
		</div>
		<div class="text">
			<img src="images/banner_txt_1(1).png" alt="txt" class="on" />
			<img src="images/banner_txt_2(1).png" alt="txt" />
			<img src="images/banner_txt_3(1).png" alt="txt" />
		</div>
		<div class="btn">
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
	
	
	<div id="section" class="cf" >	
		<div class="content1 cf">
			<div class="title cf">
				<img src="images/main_title_1(1).png" alt="insight" />
				<a href="#">더 많은 Insight를 확인하세요 ><span class="underLine"></span></a>
			</div>
			<div class="story">
				<img src="images/01NorthKorea.jpg" alt="korea" />
				<div class="text_box">
					<h2>영화 '강철비'처럼 남북한 통화 가능할까</h2>
					<p>"선배, 남한에서 북한에 전화 거는 일이 가능한가요?" 최근 영화 '강철비'를 본 후배 기자가 물었다. 통신업계 출입 기....</p>
					
					<img src="images/text_box_img.png" alt="icon" />
				</div>
				<p class="media3">영화 '강철비'처럼 남북한 통화 가능할까</p>
			</div>
			<div class="story">
				<img src="images/02MicroInfluencer.jpg" alt="croln" />
				<div class="text_box">
					<h2>마이크로 인플루언서 시대, 헐리우드 스타보다 친절한</h2>
					<p>인스타그램, 블로그, 유튜브를 통해서 유명해진 사람들을 '인플루언서'라고 부릅니다. 이들은 이제 마케팅에서 빼...</p>
					
					<img src="images/text_box_img.png" alt="icon" />
				</div>
				<p class="media3">마이크로 인플루언서 시대, 헐리우드 스타보다 친절한</p>
			</div>
			<div class="story">
				<img src="images/03Petiquette.jpg" alt="pet" />
				<div class="text_box">
					<h2>슬기로운 공존을 위한 '펫티켓',지켜주세요!</h2>
					<p>반려동물 인구 천만 시대! 하지만 펫티켓(Petiquette)이라는 단어는 여전히 생소한데요. 펫티켓은 펫(Pet)...</p>
					
					<img src="images/text_box_img.png" alt="icon" />
				</div>
				<p class="media3">마이크로 인플루언서 시대, 헐리우드 스타보다 친절한</p>
			</div>			
		</div>
		<div class="content2 cf">
			<div class="title">
				<img src="images/main_title_2(1).png" alt="" />
				<img src="images/main_dc_2.png" alt="" />
				<a href="#">더 많은 소식을 확인하세요 >> <span class="underLine"></span></a>
			</div>
			<div class="story">
				<img src="images/SKBusanIOT760x675.jpg" alt="" />
				<div class="text_box">
					<h2>SK텔레콤-부산교통공사,IoT 기술 도입해 도시철도 더욱 안....</h2>
					<p>SK텔레콤(대표이사 사장 박정호, www.sktelecom.com)은 부산교통공사(사장 박종홈)와 함께 첨단 IoT 및 빅데이터 기술을 활용해 도시철도를 더욱 안전하게 관리해 나가기로 했다. SK텔레콤은 부산교통공사와 스마트도시철도 표준모델 개발과 실증 사업을 추진하는 양해각...</p>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div id="section2">
		<div class="content1">
			<div class="bg"></div>
			<div class="text1" style="right:15%">
				<img src="images/main_title_3(1).png" alt="title" class="title"/>
				<img src="images/main_dc_3(1).png" alt="text" class="text" />
				<img src="images/cont_link_01(1).png" alt="cont1"  class="cont1 tab1" />
				<img src="images/r-arrow.gif" alt="arrow" class="arrow1 tab1"/>
				<img src="images/cont_link_02(1).png" alt="cont2 tab2"  class="cont2"/>
				<img src="images/r-arrow.gif" alt="arrow" class="arrow2 tab2"/>
			</div>
		</div>
		<div class="content2">
			<div class="bg"></div>
			<div class="text2" style="left:10%">
				<img src="images/main_title_4(1).png" alt="title" class="title"/>
				<img src="images/main_dc_4(1).png" alt="text" class="text"/>
				<img src="images/cont_link_03(1).png" alt="cont" class="cont1 tab3"/>
				<img src="images/r-arrow.gif" alt="arrow" class="arrow3 tab3"/>
			</div>			
			
		</div>
		<div class="content3">
			<div class="bg"></div>
			<div class="text3">
				<p>Create Customer's Pride</p>
				<p>SK텔레콤은 창의력과 패기가 넘치는 도전자와 함께합니다.</p>
				<img src="images/cont_link_04(1).png" alt="cont3" class="tab4"/>
				<img src="images/r-arrow.gif" alt="arrow" class="arrow4 tab4" />
			</div>
		</div>
		<div class="content4">
			<div class="content_center">
				<div class="icon_box1">
					<div class="top">
						<img src="images/tworld(1).png" alt="tworld" /><img src="images/arrow.png" alt="arrow" />
					</div>
					<div class="bottom">
						<img src="images/tdirect(1).png" alt="tdirect" /><img src="images/arrow.png" alt="arrow" />
					</div>
				</div>
				<div class="icon_box">
					<a href="#">
						<img src="images/icon1.png" alt="icon" />
						<p>사용금액조회</p>
					</a>
				</div>
				<div class="icon_box">
					<a href="#">
						<img src="images/icon2.png" alt="icon" />
						<p>잔여기본통화량</p>
					</a>
				</div>
				<div class="icon_box">
					<a href="#">
						<img src="images/icon3.png" alt="icon" />
						<p>리필/선물/충전</p>
					</a>
				</div>
			</div>
		</div>
		<div class="content5">
			<div class="box1">
				<p>SK텔레콤을 다양하게 만나보세요!</p>
			</div>
			<div class="box2">
				<img src="images/sns_01.png" alt="" />
				<img src="images/sns_02.png" alt="" />
				<img src="images/sns_03.png" alt="" />
				<img src="images/sns_04.png" alt="" />
				<img src="images/sns_05.png" alt="" />
				<img src="images/sns_06.png" alt="" />
				<img src="images/sns_07.png" alt="" />
				<img src="images/sns_08.png" alt="" />
				<img src="images/sns_09.png" alt="" />

			</div>
			
		</div>
	</div>
	<div id="footer">
		<div class="box1">
			<a href="#" style="color:red">개인정보처리방침 </a> <span> | </span>
			<a href="#"> 이메일주소무단수집거부 </a><span> | </span>
			<a href="#"> 이용약관 </a><span> | </span>
			<a href="#"> 명의도용 방지서비스 </a><span> | </span>
			<a href="#"> 도매제공이용문의 </a>

			<img src="images/icon_instagram.png" alt="insta" />
			<img src="images/icon_twitter.png" alt="twiiter" />
			<img src="images/icon_blog.png" alt="blog" />
			<img src="images/icon_googleplus.png" alt="google" />
			<img src="images/icon_kakaostory.png" alt="kakao" />
			<img src="images/icon_youtube.png" alt="youtube" />
			<img src="images/icon_naverpost.png" alt="naver" />
			<img src="images/icon_facebook.png" alt="facebook" />
			<p>SNS</p>
		</div>
		<div class="box2">
			<p>우편번호 : 04539 서울특별시 중구 을지로65(을지로2가) SK T-타워 SK텔레콤(주) 대표이사 사장 박정호 <br /> COPYRIGHT SK TELECOM CO., LTD ALL. RIGHTS RESERCED.</p>
			<img src="images/footer_webaward.png" alt="footer" />
			<img src="images/footer_webaccessibilitymark.png" alt="footer" />
		</div>
	</div>
	
</body>
</html>


 
 
 

