@import 'mixin';


.login_wrap {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/cloud.png);
    background-size: cover;
    >.black_blind {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }


    >.login_box {
        position: relative;
        z-index: 5;
        width: 300px;
        margin: 0 auto;
        margin-top: 70px;
        overflow: hidden;

        @include transition(width .2s);

        h2 {
            text-align: center;
            font-size: 30px;

            >a {
                color: #ffffff;
                @include transition(color .2s);

                &:hover {
                    color: #cccccc;
                }
            }
        }

        .double_box {
            width: 100%;
            overflow: hidden;
            height: auto;
            background: #ffffff;
            margin-top: 50px;

            form {
                width: 300px;
                padding: 20px;
                text-align: center;
                height: auto;
                overflow: hidden;
                position: relative;
                float: left;

                >p {
                    font-size: 14px;
                    padding: 15px;
                }

                >input {
                    padding: 10px 15px;
                    font-size: 16px;
                    margin-top: 5px;
                    width: 100%;

                    &.mb_15 {
                        margin-bottom: 15px;
                    }
                }

                >.keep_id {
                    height: auto;
                    text-align: left;
                    float: left;
                    font-size: 13px;
                    cursor: pointer;
                }

                >.forgot_id {
                    float: right;
                    font-size: 13px;
                    color: #69cdfb;
                    letter-spacing: 0.5px;
                    @include transition(color .2s);

                    &:hover {
                        color: #4c95b8;
                    }
                }


                .for_border {
                    width: 100%;
                    height: auto;
                    float: left;
                    margin-top: 10px;

                    >a {
                        display: block;
                        height: auto;
                        padding: 10px;
                        text-align: center;
                        background: #595959;
                        margin-top: 9px;
                        color: #ffffff;
                        font-weight: bold;
                        font-size: 20px;
                        @include transition(filter .2s);
                        @include box-shadow(2px 5px 2px #999999);

                        &.facebook {
                            background: #3e5b99;
                        }

                        &.google {
                            background: #ff2829;
                        }

                        &.naver {
                            background: #00bd39;
                        }

                        &.twitter {
                            background: #2aa9e0;
                        }

                        &:hover {
                            filter: brightness(80%);
                        }

                        &:active {
                            @include box-shadow(0px 0px 0px #595959);
                            position: relative;
                            top: 5px;

                        }
                    }
                }

                >.enter_login {
                    width: 100%;
                    height: auto;
                    display: block;
                    background: #4dfd91;
                    float: left;
                    padding: 10px;
                    margin-top: 9px;
                    @include box-shadow(2px 5px 2px #999999);
                    @include transition(background .2s);

                    &:hover {
                        background: #1e8f49;
                    }

                    >button {
                        font-weight: bold;
                        font-size: 18px;
                        color: #ffffff;
                    }

                    &:active {
                        @include box-shadow(0px 0px 0px #595959);
                        position: relative;
                        top: 5px;

                    }
                }

                >.sign_up {
                    width: 100%;
                    float: left;
                    margin-top: 20px;
                    font-size: 12px;
                    font-weight: bold;
                    >a {
                        color: #4c95b8;
                        &:hover {
                            color: #4c95b8;
                        }
                    }
                }
            }
        }

        &.on {
            width: 500px;
        }
    }
}

@media screen and (max-width:767px) {

    .login_wrap {
        .login_box {

            margin-top: 5px;
            
            
        .double_box {
            width: 100%;
            overflow: hidden;
            height: auto;
            background: #ffffff;
            margin-top: 5px;

            form {
                width: 300px;
                padding: 9px;
                text-align: center;
                height: auto;
                overflow: hidden;
                position: relative;
                float: left;
        }
    }
}
    }
}