@import 'mixin';

.contents_wrap {

    // history.html
    .board_wrap {
        margin-top: 5px;


        .btns {
            @include flexGrid(flex);
            height: 85px;
            justify-items: center;

            >button {
                @include flex(1);
                background: #e0e0e0;
                border: 1px solid #cccccc;
                font-size: 1.3rem;
                font-weight: bold;
                @include transition(all .2s);

                &.on {
                    background: #595959;
                    color: #ffffff;
                }

                &:hover {
                    background: #595959;
                    color: #ffffff;
                }
            }

        }



        .boards {
            margin-top: 5px;

            width: 100%;
            position: relative;
            min-height: 750px;
            height:auto;

            >div {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                z-index: 1;
                width: 100%;
                height: 0;
                opacity: 0;
                @include transition(opacity .5s);

                &.on {
                    opacity: 1;
                    height: 100%;
                }

                >h4 {
                    font-size: 2rem;
                    background: #e0e0e0;
                    padding: 10px;
                    width: 100%;

                    a{
                        font-size:17px;
                        float:right;
                        margin-top:7px;
                        @include transition(color .2s);
                        &:hover{
                            color:#96bafd;
                        }
                    }
                }

                .grid_wrap {
                    border-bottom: 2px solid #e0e0e0;

                    .grid_head {
                        @include flexGrid(flex);
                        border-bottom: 2px solid #f0f0f0;

                        >p {
                            @include flex(1);
                            padding: 10px;
                            text-align: center;

                            &.flex_6 {
                                @include flex(6);
                            }

                        }
                    }

                    .grid_body {
                        @include flexGrid(flex);
                        text-align: center;
                        flex-direction: column;

                        >li {
                            @include flexGrid(flex);

                            >p {

                                @include flex(1);
                                flex-direction: row;
                                padding: 10px 5px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                &.flex_6 {
                                    @include flex(6);
                                }

                                >a {
                                    @include transition(color .2s);

                                    &:hover {
                                        color: #96bafd;
                                    }
                                }
                            }
                        }

                    }
                }

                .page_btn {
                    @include flexGrid(flex);
                    width: 100%;
                    position: relative;
                    justify-content: center;
                    margin-top: 15px;

                    a {
                        border: 1px solid #cccccc;
                        margin: 0 2px;
                        width: 40px;
                        height: 40px;
                        @include flexGrid(flex);
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        @include transition(all .2s);

                        &:hover {
                            background: #96bafd;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    // intro.html
    .to_intro {
        width: 100%;
        height: auto;
        overflow: hidden;
        min-height:500px;

        >h3 {
            width: 100%;
            height: auto;
            padding: 10px;
            font-size: 35px;
        }

        >.container {
            width: 100%;
            height: auto;

            >p {
                width: 60%;
                height: auto;
                line-height: 1.5;
                font-size: 12px;
                padding: 10px;
                float: left;
            }

            >.img_container {
                width: 40%;
                float: left;

                >img {
                    border-radius: 50%;
                    @include box_shadow(5px 10px 5px #858585);
                    display: block;
                    margin: 0 auto;
                    width:70%;
                }
                >p{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 20px;
                    letter-spacing: 1px;
                    >span{
                        font-family: 'Nanum Pen Script', cursive;
                        font-size: 57px;
                        position: relative;
                        top: 10px;
                        @include textShadow(2px 2px 2px #858585);
                    }
                }    
            }
        }
    }
}