@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Coda+Caption:800');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

html, body, div, span , object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    /* font-family: 'NanumSquare', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

html{min-width:320px;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

ul, ol {list-style:none;}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}

a { margin:0; padding:0; font-size:100%;  vertical-align:baseline; background:transparent; text-decoration:none; color:#000000; 
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
p {text-decoration:none;}

ins {background-color:#ff9; color:#000; text-decoration:none;}

mark { background-color:#ff9; color:#000;  font-style:italic; font-weight:bold;}

del { text-decoration: line-through;}

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}

table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}

input, select, textarea { vertical-align:middle;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    margin:0; padding:0; border:1px solid #cccccc;
    outline:0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

button {border:0; background: none; outline:0; cursor:pointer;  font-family: 'NanumSquare', sans-serif;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    line-height:1;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.fl {float:left;}
.fr {float:right;}

.bold {font-weight:bold;}
.txt_center{text-align:center;}
.txt_right{text-align:right;}
.txt_left{text-align:left;}
.cf::after{content:""; display:block; clear:both;}
.border_n{border:0;}

.bg_blue{background:#386197;}
.bg_green{background:#65bd77;}
.bg_red{background:#ee5140;}
.bg_orange{background:#ffc333;}
.bg_yellow{background:#fdec4d;}
.bg_white{background-color:white;}
.bg_grey{background-color:#cccccc;}
.bg_darkgrey{background-color:#858585;}
.bg_whitegrey{background-color:#eeeeee;}
.bg_darknavy{background-color:#181d22;}
.bg_lightgreen{background-color:#46b154}
.bg_lightblue{background-color:#337bda;}
.bg_deeporange{background-color:#e97b32;}
.bg_deepblue{background-color:#3330dd;}
.bg_deepred{background-color:#ff0000;}
.border_b{border-bottom:1px solid #cccccc;}
.dis_none{display:none;}

.color_black{color:#000000;}
.color_red{color:#cf3e3e;}
.color_deepred{color:#ff0000;}
.color_blue{color:#4b49ca;}
.color_skyblue{color:#2c75b9;}
.color_lightblue{color:#b8d6f1;}
.color_yellow{color:#fdec4d;}
.color_white{color:#ffffff;}
.color_cyanblue{color:#0048ff;}

/* Publisher made by jungo : contact 010-8652-5734 */

sup.up_two
    {position:relative; font-size:8px; bottom:8px; right:5px;}

.width_10
    {width:10%;}
.width_15
    {width:15%;}
.width_20
    {width:20%;}
.width_25
    {width:25%;}
.width_30
    {width:30%;}
.width_40
    {width:40%;}
.width_45
    {width:45%;}
.width_50
    {width:50%;}
.width_60
    {width:60%;}
.width_70
    {width:70%;}
.width_80
    {width:80%;}
.width_90
    {width:90%;}
.width_100
    {width:100%;}




.m_l_10
    {margin-left:10%;}






.opa08
    {opacity:0.8;}


/* width */
::-webkit-scrollbar {
    width: 6.5px;
    position:absolute;
    background:transparent;
    height:6.5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius:0;
    position:absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.4);
    border-radius:5px;
    position:absolute;
}
