@charset "UTF-8";
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Coda+Caption:800");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000000;
  /* font-family: 'NanumSquare', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

html {
  min-width: 320px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  outline: 0; }

input[type="color"] {
  -webkit-appearance: none;
  border: none; }

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; }

input[type="color"]::-webkit-color-swatch {
  border: none; }

button {
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  line-height: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.bold {
  font-weight: bold; }

.txt_center {
  text-align: center; }

.txt_right {
  text-align: right; }

.txt_left {
  text-align: left; }

.cf::after {
  content: "";
  display: block;
  clear: both; }

.border_n {
  border: 0; }

.bg_blue {
  background: #386197; }

.bg_green {
  background: #65bd77; }

.bg_red {
  background: #ee5140; }

.bg_orange {
  background: #ffc333; }

.bg_yellow {
  background: #fdec4d; }

.bg_white {
  background-color: white; }

.bg_grey {
  background-color: #cccccc; }

.bg_darkgrey {
  background-color: #858585; }

.bg_whitegrey {
  background-color: #eeeeee; }

.bg_darknavy {
  background-color: #181d22; }

.bg_lightgreen {
  background-color: #46b154; }

.bg_lightblue {
  background-color: #337bda; }

.bg_deeporange {
  background-color: #e97b32; }

.bg_deepblue {
  background-color: #3330dd; }

.bg_deepred {
  background-color: #ff0000; }

.border_b {
  border-bottom: 1px solid #cccccc; }

.dis_none {
  display: none; }

.color_black {
  color: #000000; }

.color_red {
  color: #cf3e3e; }

.color_deepred {
  color: #ff0000; }

.color_blue {
  color: #4b49ca; }

.color_skyblue {
  color: #2c75b9; }

.color_lightblue {
  color: #b8d6f1; }

.color_yellow {
  color: #fdec4d; }

.color_white {
  color: #ffffff; }

.color_cyanblue {
  color: #0048ff; }

/* Publisher made by jungo : contact 010-8652-5734 */
.width_10 {
  width: 10%; }

.width_15 {
  width: 15%; }

.width_20 {
  width: 20%; }

.width_25 {
  width: 25%; }

.width_30 {
  width: 30%; }

.width_35 {
  width: 35%; }

.width_40 {
  width: 40%; }

.width_45 {
  width: 45%; }

.width_50 {
  width: 50%; }

.width_55 {
  width: 55%; }

.width_60 {
  width: 60%; }

.width_65 {
  width: 65%; }

.width_70 {
  width: 70%; }

.width_75 {
  width: 75%; }

.width_80 {
  width: 80%; }

.width_85 {
  width: 85%; }

.width_90 {
  width: 90%; }

.width_95 {
  width: 95%; }

.width_100 {
  width: 100%; }

/* width */
::-webkit-scrollbar {
  width: 6.5px;
  position: absolute;
  background: transparent;
  height: 6.5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0;
  position: absolute; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute; }

.header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  z-index: 500; }
  .header .header_center {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%; }
    .header .header_center h1 {
      float: left;
      width: 150px;
      height: 100%; }
      .header .header_center h1 a {
        width: 100%;
        display: block;
        height: 100%; }
        .header .header_center h1 a img {
          height: 100%;
          display: block; }
    .header .header_center ul {
      float: right;
      line-height: 65px; }
      .header .header_center ul li {
        float: left;
        margin-left: 20px; }
        .header .header_center ul li a {
          font-size: 14px;
          display: block;
          color: #ffffff;
          font-weight: bold;
          -webkit-transition: color 0.2s;
          -moz-transition: color 0.2s;
          -ms-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s; }
          .header .header_center ul li a:hover {
            color: #4f80cf; }

.side_nav {
  position: fixed;
  top: 0;
  right: -150px;
  width: 150px;
  height: 100%;
  background: #f0f0f0;
  border-left: 1px solid #cccccc;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 550; }
  .side_nav.on {
    right: 0; }
  .side_nav:hover {
    background: #dfdfdf; }
    .side_nav:hover .burger {
      background: #dfdfdf; }
  .side_nav > ul {
    width: 100%;
    height: auto; }
    .side_nav > ul > li {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #cccccc; }
      .side_nav > ul > li.burger {
        width: 60px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
        position: absolute;
        right: 100%;
        margin-right: -0.5px;
        background: #f0f0f0;
        z-index: -1;
        border-left: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s; }
        .side_nav > ul > li.burger button {
          height: 60px;
          width: 100%;
          font-size: 25px;
          color: #2d62b8;
          -webkit-transition: transform 0.6s;
          -moz-transition: transform 0.6s;
          -ms-transition: transform 0.6s;
          -o-transition: transform 0.6s;
          transition: transform 0.6s; }
          .side_nav > ul > li.burger button.on {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transformw: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg); }
      .side_nav > ul > li:not(.burger) button {
        font-weight: bold;
        font-size: 14px;
        height: 60px;
        width: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .side_nav > ul > li:not(.burger) button:hover {
          background: #595959;
          color: #ffffff; }

.tools {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 500; }
  .tools > ul {
    width: 40px;
    height: auto; }
    .tools > ul > li {
      width: 100%;
      height: 40px;
      margin-top: 5px; }
      .tools > ul > li button {
        width: 100%;
        height: 100%;
        background: #2d62b8;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        color: #ffffff;
        font-size: 22px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .tools > ul > li button.on {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transformw: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .tools > ul > li button:hover {
          background: #3574da; }
      .tools > ul > li > ul {
        width: 100%;
        height: auto;
        opacity: 0;
        position: absolute;
        top: 100%;
        -webkit-transition: all 0.5s cubic-bezier(0.57, -0.26, 0.25, 1.36);
        -moz-transition: all 0.5s cubic-bezier(0.57, -0.26, 0.25, 1.36);
        -ms-transition: all 0.5s cubic-bezier(0.57, -0.26, 0.25, 1.36);
        -o-transition: all 0.5s cubic-bezier(0.57, -0.26, 0.25, 1.36);
        transition: all 0.5s cubic-bezier(0.57, -0.26, 0.25, 1.36); }
        .tools > ul > li > ul.on {
          top: -100%;
          opacity: 1; }
        .tools > ul > li > ul > li {
          width: 100%;
          height: 40px;
          margin-top: 5px; }

.slide_box {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -ms-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s; }
  .slide_box::before {
    content: "";
    display: block;
    padding-top: 42.25%;
    /* 1:1 비율 */ }
  .slide_box ul {
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%; }
    .slide_box ul li {
      width: 20%;
      height: 100%;
      position: relative;
      float: left; }
      .slide_box ul li:first-child {
        display: block; }
      .slide_box ul li a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: block;
        -webkit-transform: translate(50%, 50%);
        -moz-transform: translate(50%, 50%);
        -ms-transformw: translate(50%, 50%);
        -o-transform: translate(50%, 50%);
        transform: translate(50%, 50%); }
        .slide_box ul li a img {
          width: 100%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transformw: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .slide_box ul > li.move {
      left: -100%; }
  .slide_box > button {
    height: 100%;
    width: 5%;
    font-size: 5rem;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s; }
    .slide_box > button > i {
      width: 100%;
      display: block;
      color: #ffffff; }
    .slide_box > button:hover {
      background: rgba(0, 0, 0, 0.4); }
    .slide_box > button.prev {
      left: 0; }

.wrap {
  width: 100%;
  height: auto; }
  .wrap .contents_wrap {
    width: 1024px;
    margin: 0 auto;
    height: auto; }
    .wrap .contents_wrap form.search {
      position: absolute;
      top: 125px;
      right: 175px;
      text-align: center;
      z-index: 30;
      height: auto;
      width: 25%;
      background: rgba(5, 105, 155, 0.7);
      padding: 15px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px; }
      .wrap .contents_wrap form.search > p {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        text-align: left; }
      .wrap .contents_wrap form.search .button_box {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-top: 5px; }
        .wrap .contents_wrap form.search .button_box button {
          width: 100%;
          padding: 21px;
          margin-top: 5px;
          display: block;
          float: left;
          color: #ffffff;
          font-weight: bold;
          font-size: 17px;
          background: #2d62b8;
          -webkit-transition: background 0.2s;
          -moz-transition: background 0.2s;
          -ms-transition: background 0.2s;
          -o-transition: background 0.2s;
          transition: background 0.2s;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; }
          .wrap .contents_wrap form.search .button_box button span {
            color: #ffffff; }
          .wrap .contents_wrap form.search .button_box button.not_btn {
            cursor: default;
            position: absolute;
            background: transparent;
            top: 15px;
            right: 15px;
            width: auto;
            padding: 0;
            font-size: 16px;
            font-weight: normal; }
          .wrap .contents_wrap form.search .button_box button.btn:hover {
            background: #4f80cf; }
    .wrap .contents_wrap .title_box {
      margin-top: 15px;
      width: 100%;
      height: auto;
      overflow: hidden; }
      .wrap .contents_wrap .title_box h3 {
        font-size: 25px;
        padding: 15px;
        border-left: 9px solid #2d62b8; }
    .wrap .contents_wrap > .contents_box {
      width: 100%;
      height: auto;
      overflow: hidden; }
      .wrap .contents_wrap > .contents_box.max_height {
        max-height: 850px;
        overflow-y: scroll;
        margin-top: 15px; }
        .wrap .contents_wrap > .contents_box.max_height.extra {
          max-height: none;
          overflow: hidden; }
      .wrap .contents_wrap > .contents_box > .item {
        width: 22%;
        margin: 1.5%;
        border: 1px solid #cccccc;
        float: left;
        position: relative;
        padding: 4px;
        cursor: pointer;
        -webkit-transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        -ms-transition: box-shadow 0.2s;
        -o-transition: box-shadow 0.2s;
        transition: box-shadow 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .wrap .contents_wrap > .contents_box > .item:hover {
          -webkit-box-shadow: 0px 5px 20px 2px #cccccc;
          -moz-box-shadow: 0px 5px 20px 2px #cccccc;
          -ms-box-shadow: 0px 5px 20px 2px #cccccc;
          -o-box-shadow: 0px 5px 20px 2px #cccccc;
          box-shadow: 0px 5px 20px 2px #cccccc; }
        .wrap .contents_wrap > .contents_box > .item .img_box {
          width: 100%;
          height: 143px;
          position: relative;
          overflow: hidden; }
          .wrap .contents_wrap > .contents_box > .item .img_box a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            display: block;
            -webkit-transform: translate(50%, 50%);
            -moz-transform: translate(50%, 50%);
            -ms-transformw: translate(50%, 50%);
            -o-transform: translate(50%, 50%);
            transform: translate(50%, 50%); }
            .wrap .contents_wrap > .contents_box > .item .img_box a img {
              height: 100%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transformw: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
        .wrap .contents_wrap > .contents_box > .item > p {
          width: 100%;
          height: auto;
          font-size: 14px;
          color: #8a8a8a;
          line-height: 1.3; }
          .wrap .contents_wrap > .contents_box > .item > p.title {
            font-size: 24px;
            font-weight: bold;
            color: #595959; }
          .wrap .contents_wrap > .contents_box > .item > p.sub_title {
            font-size: 17px;
            border-bottom: 1px solid #cccccc;
            padding-bottom: 10px; }
          .wrap .contents_wrap > .contents_box > .item > p.price {
            font-size: 22px;
            font-weight: bold;
            color: #595959; }
          .wrap .contents_wrap > .contents_box > .item > p > span {
            display: block;
            float: left;
            color: #8a8a8a; }

.footer {
  width: 100%;
  height: 198px;
  background: #e0e0e0;
  margin-top: 15px; }
  .footer .footer_center {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0; }
    .footer .footer_center > p.title {
      font-size: 18px;
      font-weight: bold;
      padding: 20px 0;
      color: #595959; }
    .footer .footer_center .links {
      width: 100%;
      height: auto; }
      .footer .footer_center .links > a {
        font-size: 14px;
        color: #8a8a8a;
        padding: 0 10px; }
    .footer .footer_center .company_info {
      width: 100%;
      height: auto;
      padding: 20px 0;
      line-height: 1.4; }

.center {
  position: relative;
  width: 100%;
  margin-top: 5px;
  text-align: left;
  float: left; }

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  width: 100%; }

.custom-select-wrapper select {
  display: none; }

.custom-select {
  position: relative;
  width: 100%; }

.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 84px 0 22px;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #67a3db;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.custom-select-trigger:hover {
  background: #4a7caa; }

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 0; }

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%); }

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 1; }

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0); }

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.option-hover:before {
  background: #f9f9f9; }

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: #a5a5a5;
  line-height: 47px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0; }

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px; }

.custom-option:hover {
  background: #d8d8d8; }

.custom-option.selection {
  background: #f9f9f9; }

@media screen and (max-width: 1024px) {
  .header .header_center {
    width: 100%;
    margin: 0; }

  .slide_box {
    margin-top: 85px; }
    .slide_box > button {
      font-size: 2.5rem; }

  .wrap .contents_wrap {
    width: 100%; }
    .wrap .contents_wrap form.search {
      position: relative;
      top: 0px;
      right: 0px;
      text-align: center;
      z-index: 30;
      height: 282px;
      width: 100%;
      background: rgba(50, 50, 50, 0.7);
      overflow: unset;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      .wrap .contents_wrap form.search > p {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px; }
      .wrap .contents_wrap form.search .button_box {
        width: 31%;
        margin: 1%;
        float: left; }
        .wrap .contents_wrap form.search .button_box button {
          width: 100%;
          padding: 21px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; }
    .wrap .contents_wrap > .contents_box.max_height {
      max-height: 70vh; }
    .wrap .contents_wrap > .contents_box > .item {
      width: 30%;
      margin: 1.5%; }
      .wrap .contents_wrap > .contents_box > .item .img_box {
        height: 170px; }

  .footer {
    width: 100%; }
    .footer .footer_center {
      width: 100%; }

  .center {
    position: relative;
    width: 31%;
    margin: 1%;
    text-align: left;
    float: left; } }
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
    padding: 0;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
    background: #a0a0a0; }
    .header.on {
      height: 315px; }
    .header .header_center h1 {
      display: none; }
    .header .header_center .dis_none {
      display: block;
      position: absolute;
      top: 0;
      padding: 0 15px;
      line-height: 60px;
      font-size: 30px; }
      .header .header_center .dis_none span {
        color: #ffffff; }
    .header .header_center ul {
      float: left;
      line-height: 50px;
      margin-top: 60px;
      width: 100%; }
      .header .header_center ul li {
        float: left;
        margin-left: 0px;
        width: 100%;
        padding: 0 15px; }
        .header .header_center ul li a {
          border-bottom: 1px solid #cccccc;
          font-size: 14px;
          display: block;
          color: #ffffff;
          font-weight: bold;
          -webkit-transition: color 0.2s;
          -moz-transition: color 0.2s;
          -ms-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s; }
          .header .header_center ul li a:hover {
            color: #4f80cf; }

  .side_nav.on {
    right: 0; }
  .side_nav:hover {
    background: #dfdfdf; }
    .side_nav:hover .burger {
      background: transparent; }
  .side_nav > ul {
    width: 100%;
    height: auto; }
    .side_nav > ul > li {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #cccccc; }
      .side_nav > ul > li.burger {
        width: 60px;
        height: 60px;
        top: 0%;
        margin-top: 0px;
        position: absolute;
        right: 100%;
        margin-right: -0.5px;
        background: transparent;
        z-index: -1;
        border: 0;
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s; }
        .side_nav > ul > li.burger button {
          height: 60px;
          width: 100%;
          font-size: 25px;
          color: #ffffff;
          -webkit-transition: transform 0.6s;
          -moz-transition: transform 0.6s;
          -ms-transition: transform 0.6s;
          -o-transition: transform 0.6s;
          transition: transform 0.6s; }
          .side_nav > ul > li.burger button.on {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transformw: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg); }
      .side_nav > ul > li:not(.burger) button {
        font-weight: bold;
        font-size: 14px;
        height: 60px;
        width: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .side_nav > ul > li:not(.burger) button:hover {
          background: #595959;
          color: #ffffff; }

  .slide_box {
    margin-top: 60px; }
    .slide_box > button {
      font-size: 1.5rem; }

  .wrap .contents_wrap form.search .button_box {
    width: 48%;
    margin: 1%;
    float: left; }
    .wrap .contents_wrap form.search .button_box button.not_btn {
      top: 25px;
      right: 25px; }
  .wrap .contents_wrap > .contents_box > .item {
    width: 47%;
    margin: 1.5%; }

  .footer {
    width: 100%;
    height: auto;
    background: #e0e0e0;
    padding: 15px; }
    .footer .footer_center {
      text-align: left;
      padding: 0; }
      .footer .footer_center > p.title {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.2; }
      .footer .footer_center .links > a {
        padding: 0 5px; }
      .footer .footer_center .company_info {
        font-size: 14px;
        width: 100%;
        height: auto;
        padding: 20px 0;
        line-height: 1.4; }

  .center {
    position: relative;
    width: 48%;
    margin: 1%;
    text-align: left;
    float: left; } }
@media screen and (max-width: 427px) {
  .wrap .contents_wrap > .contents_box > .item {
    width: 97%;
    margin: 1.5%; } }

/*# sourceMappingURL=style.css.map */
