@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Coda+Caption:800");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000000;
  /* font-family: 'NanumSquare', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

html {
  min-width: 320px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select, textarea {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  outline: 0; }

input[type="color"] {
  -webkit-appearance: none;
  border: none; }

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; }

input[type="color"]::-webkit-color-swatch {
  border: none; }

button {
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  line-height: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.bold {
  font-weight: bold; }

.txt_center {
  text-align: center; }

.txt_right {
  text-align: right; }

.txt_left {
  text-align: left; }

.cf::after {
  content: "";
  display: block;
  clear: both; }

.border_n {
  border: 0; }

.bg_blue {
  background: #386197; }

.bg_green {
  background: #65bd77; }

.bg_red {
  background: #ee5140; }

.bg_orange {
  background: #ffc333; }

.bg_yellow {
  background: #fdec4d; }

.bg_white {
  background-color: white; }

.bg_grey {
  background-color: #cccccc; }

.bg_darkgrey {
  background-color: #858585; }

.bg_whitegrey {
  background-color: #eeeeee; }

.bg_darknavy {
  background-color: #181d22; }

.bg_lightgreen {
  background-color: #46b154; }

.bg_lightblue {
  background-color: #337bda; }

.bg_deeporange {
  background-color: #e97b32; }

.bg_deepblue {
  background-color: #3330dd; }

.bg_deepred {
  background-color: #ff0000; }

.border_b {
  border-bottom: 1px solid #cccccc; }

.dis_none {
  display: none; }

.color_black {
  color: #000000; }

.color_red {
  color: #cf3e3e; }

.color_deepred {
  color: #ff0000; }

.color_blue {
  color: #4b49ca; }

.color_skyblue {
  color: #2c75b9; }

.color_lightblue {
  color: #b8d6f1; }

.color_yellow {
  color: #fdec4d; }

.color_white {
  color: #ffffff; }

.color_cyanblue {
  color: #0048ff; }

/* Publisher made by jungo : contact 010-8652-5734 */
.width_10 {
  width: 10%; }

.width_15 {
  width: 15%; }

.width_20 {
  width: 20%; }

.width_25 {
  width: 25%; }

.width_30 {
  width: 30%; }

.width_35 {
  width: 35%; }

.width_40 {
  width: 40%; }

.width_45 {
  width: 45%; }

.width_50 {
  width: 50%; }

.width_55 {
  width: 55%; }

.width_60 {
  width: 60%; }

.width_65 {
  width: 65%; }

.width_70 {
  width: 70%; }

.width_75 {
  width: 75%; }

.width_80 {
  width: 80%; }

.width_85 {
  width: 85%; }

.width_90 {
  width: 90%; }

.width_95 {
  width: 95%; }

.width_100 {
  width: 100%; }

/* width */
::-webkit-scrollbar {
  width: 6.5px;
  position: absolute;
  background: transparent;
  height: 6.5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0;
  position: absolute; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute; }

.main_head {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 600px;
  margin-top: 85px; }
  .main_head > .img_box {
    transform: translate(50%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .main_head > .img_box img {
      width: 100%;
      transform: translate(-50%, -50%); }
    .main_head > .img_box .blocker {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.671);
      transform: translate(-50%, -50%); }
  .main_head > .easy_selling {
    width: 500px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -250px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .main_head > .easy_selling > h3 {
      width: 100%;
      font-size: 20px;
      color: #ffffff; }
    .main_head > .easy_selling p {
      font-size: 12px;
      color: #ffffff; }
      .main_head > .easy_selling p.big_font {
        font-size: 30px; }
    .main_head > .easy_selling > .put_info {
      width: 100%;
      height: auto;
      margin-top: 15px; }
      .main_head > .easy_selling > .put_info > label {
        width: 100%;
        display: block;
        overflow: hidden;
        height: auto;
        margin-top: 5px;
        background: #595959; }
        .main_head > .easy_selling > .put_info > label > span {
          width: 30%;
          color: #ffffff;
          display: block;
          float: left;
          padding: 14px;
          text-align: center;
          font-weight: bold; }
        .main_head > .easy_selling > .put_info > label > input {
          width: 70%;
          display: block;
          float: left;
          padding: 10px;
          font-size: 22px; }
      .main_head > .easy_selling > .put_info > button {
        width: 100%;
        padding: 14px;
        background: #4f80cf;
        color: #ffffff;
        margin-top: 5px;
        font-size: 19px;
        font-weight: bold; }
    .main_head > .easy_selling > .accept_info {
      width: 100%;
      height: auto;
      margin-top: 5px;
      display: block;
      margin-top: 5px; }
      .main_head > .easy_selling > .accept_info > span {
        font-size: 13px;
        color: #ffffff; }
      .main_head > .easy_selling > .accept_info > button {
        padding: 5px 10px;
        background: #ff5a28;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        color: #ffffff; }
    .main_head > .easy_selling > .check_personal {
      width: 0%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1000;
      padding: 80px 0;
      overflow: hidden;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s; }
      .main_head > .easy_selling > .check_personal.on {
        width: 100%;
        opacity: 1; }
      .main_head > .easy_selling > .check_personal > .text_box {
        padding: 40px;
        line-height: 1.5;
        width: 80%;
        height: 80vh;
        overflow-y: scroll;
        background: #ffffff;
        margin: auto;
        position: relative; }
        .main_head > .easy_selling > .check_personal > .text_box > button {
          position: fixed;
          bottom: 12%;
          right: 12%;
          padding: 15px 18px;
          color: #ffffff;
          background: #4f80cf;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 2px; }

.check_sell {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin-top: 15px;
  text-align: center;
  font-size: 14px; }
  .check_sell > thead {
    width: 100%;
    height: auto; }
    .check_sell > thead > tr {
      border-top: 2px solid #838383;
      border-bottom: 2px solid #595959;
      background: #e0e0e0; }
      .check_sell > thead > tr th {
        padding: 15px 0;
        font-size: 18px; }
  .check_sell > tbody tr {
    border-bottom: 1px solid #cccccc; }
    .check_sell > tbody tr:nth-child(odd) {
      background: #f1f0f0; }
    .check_sell > tbody tr:nth-child(even) {
      background: #e6e4e4; }
  .check_sell tr {
    width: 100%;
    height: auto; }
  .check_sell td {
    padding: 3px 0; }
    .check_sell td.width_50 {
      text-align: left;
      padding-left: 15px; }
    .check_sell td > .consulting {
      display: block;
      background: #ff6d6d;
      width: 90%;
      margin: 0 auto;
      padding: 10px 0;
      color: #ffffff; }

.title_box .review_search {
  float: right;
  height: auto; }
  .title_box .review_search input {
    padding: 15px;
    font-size: 17px;
    display: block;
    float: left;
    height: 48px;
    margin-left: 5px;
    margin-top: 10px; }
  .title_box .review_search button {
    padding: 15px;
    background: #42c4db;
    font-size: 17px;
    color: #ffffff;
    display: block;
    float: left;
    height: 48px;
    margin-left: 5px;
    margin-top: 10px; }
  .title_box .review_search a {
    padding: 15px;
    background: #4f80cf;
    font-size: 17px;
    display: block;
    float: left;
    height: 48px;
    margin-left: 5px;
    margin-top: 10px; }

/*# sourceMappingURL=sub.css.map */
