@use "../abstracts" as *;
body{
    overflow-x:hidden;
    transition:background-color .75s ease-in-out;
}
.uxg-page-container-main{
    overflow: hidden;
    @include rem(padding-bottom, 120);
    box-sizing: content-box;
}
#content{
    display:flex;
    justify-content: flex-start;
    height: auto;
    align-items: stretch;
    .content-box{
        width:100%;
        flex:1 0 100%;
    }
}

.flex-box{
    display:flex;
    align-items: center;
}

.home-container{
  width:100%;
  @include rem(padding-top, 24);

  iframe{
    width:100%;
    height:100%;
  }
  .swiper-slide{
    position:relative;

  }
  .frame-box{
    @include rem(height, 50vh);
    width:100%;
  }
  .option-title{
    @include rem(font-size, 24);
    @include rem(margin-top, 12);
  }
  .option-sub{
    @include rem(margin-top, 12);
    @include rem(font-size, 14);
  }
  .option-price{
    @include rem(margin-top, 8);
    @include rem(font-size, 16);
  }
  .swiper-button-next,.swiper-button-prev{
    @include rem(width, 50);
    height:100%;
    position:absolute;
    top:0;
    z-index: 2;
    &::before,&::after{
        content:'';
        position:absolute;
        @include rem(width, 20);
        @include rem(height, 2);
        background-color:#fff;
        left:calc(50% - 1rem);
    }

  }
  .swiper-button-next{
    left:0;
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(2,2,2,1) 1%,rgba(229,229,229,0) 100%);


    &::before{
        transform:rotate(-45deg);
        top: calc(50% - 6.5px);
    }
    &::after{
        transform:rotate(45deg);
        top: calc(50% + 6.5px);
    }
  }
  .swiper-button-prev{
    right:0;
    background: linear-gradient(to right,  rgba(229,229,229,0) 0%,rgba(0,0,0,1) 100%);


    &::before{
        transform:rotate(45deg);
        top: calc(50% - 6.5px);
    }
    &::after{
        transform:rotate(-45deg);
        top: calc(50% + 6.5px);
    }
  }
  .text-scale {
    display: flex;
    opacity: 0;
    }

    .split {
    will-change: transform;
    }
}

.work-container{
    .work-detail-area{
        @include rem(margin-top, 48);
    }
    .category-box{
        @include rem(padding, 50);
        button{
            color:#fff;
            transition:color .2s ease-out;
            &:hover{
                color:#666;
            }
        }
        .category-title{
            @include rem(font-size, 50);

            .small{
                @include rem(font-size, 32);
                @include rem(vertical-align, 4);
            }
        }
        .flex-box{
            @include rem(gap, 24);
            &+.flex-box{
                @include rem(margin-top, 80);
            }

        }
        .context-area{
            @include rem(font-size, 14);
            line-height:1.35;
            p + p {
                @include rem(margin-top, 16);
            }
            p.title{
                @include rem(font-size, 22);
            }
            .options{
                @include rem(margin-right, 8);
                display:inline-block;
                &::after{
                    content:"";
                    height:18px;
                    width:1px;
                    vertical-align: 0px;
                    background-color: #666;
                    display:inline-block;
                    @include rem(margin-left, 8);
                }
                & + .options{

                }
            }
        }
        .frame-box{
            width:68%;
            position:relative;
            flex: 1 0 auto;
            &::before{
                content:"";
                width:100%;
                display:block;
                padding-top:56.8%;
            }
            iframe{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .work-container{
        .flex-box {
            display: block;
            /* 원하는 스타일 변경 코드 추가 */
        }
        .category-box{
            @include rem(padding, 24);
            .frame-box{
                width:100%;
            }
            .context-area{
                @include rem(margin-top, 20px);
            }
        }

    }

}
@media screen and (max-width: 500px) {
    .work-container{
        .flex-box {
            display: block;
            /* 원하는 스타일 변경 코드 추가 */
        }
        .category-box{
            @include rem(padding, 12);
            .frame-box{
                width:100%;
            }
            .context-area{

            }
        }

    }

}



