.gate-area {
  width: 100%;
  height: 100vh;
  background: url(//images.unsplash.com/photo-1523264469475-53cf30cef2f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center;
  background-size: cover;
  box-sizing: border-box; }

.gate-area * {
  box-sizing: inherit; }

.gate-area .dimm-area {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0; }

.gate-area .title {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 8; }

.gate-area .title p {
  color: white;
  font-size: 17px; }

.gate-area .title p:first-child {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px; }

.gate-area .gate-list {
  width: 100%;
  height: 100%;
  text-align: center; }

.gate-area .gate-list li:not(.background) {
  background: transparent;
  border-left: 1px solid rgba(138, 138, 138, 0.226);
  border-right: 1px solid rgba(138, 138, 138, 0.226);
  width: 20%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 1;
  background: transparent no-repeat center center;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.5s cubic-bezier(0, 0.38, 0.04, 0.99); }

.gate-area .gate-list li:not(.background) a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

.gate-area .gate-list li:not(.background) a span {
  color: white;
  display: block;
  position: absolute; }

.gate-area .gate-list li:not(.background) a span.which {
  font-size: 35px;
  font-weight: bold;
  bottom: 50%;
  transform: translate(0, 50%);
  text-align: center;
  width: 100%;
  line-height: 1.5;
  transition: bottom .2s; }

.gate-area .gate-list li:not(.background) a span.which .aqua_title {
  font-size: 25px;
  font-weight: normal;
  position: relative;
  width: 100%; }

.gate-area .gate-list li:not(.background) a span.event {
  width: 80%;
  border-top: 1px solid #2871f2;
  text-align: right;
  padding-top: 15px;
  color: #2871f2;
  left: 50%;
  bottom: 20vh;
  transition: all 0.5s cubic-bezier(0, 0.38, 0.04, 0.99);
  font-weight: bold;
  letter-spacing: 0.5px;
  transform: translate(-50%, 0%) scaleX(0);
  transform-origin: left; }

.gate-area .gate-list li:not(.background) a span.event span {
  text-align: left;
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 30px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0.38, 0.04, 0.99); }

.gate-area .gate-list li:not(.background) a span.event span.animation {
  margin-top: 15px;
  opacity: 1; }

.gate-area .gate-list li:not(.background).animation {
  transform: scaleY(1); }

.gate-area .gate-list [class^="background"] {
  top: 0;
  width: 30px;
  height: 100%;
  position: fixed;
  transition: all 0.2s cubic-bezier(0, 0.38, 0.04, 0.99); }

.gate-area .gate-list [class^="background"].num01 {
  left: 0; }

.gate-area .gate-list [class^="background"].num02 {
  right: 0; }

.gate-area .gate-list:hover li {
  background: rgba(81, 104, 168, 0.801) no-repeat center center;
  filter: blur(2px); }

.gate-area .gate-list:hover li a span.event {
  opacity: 0; }

.gate-area .gate-list:hover li a span.which {
  bottom: 10%; }

.gate-area .gate-list:hover li a span.which:hover {
  bottom: 50%; }

.gate-area .gate-list:hover li.hover {
  z-index: 5;
  box-shadow: 0 -30px 10px 10px rgba(0, 0, 0, 0.5);
  filter: blur(0px); }

.gate-area .gate-list:hover li.hover:nth-child(2) {
  background: url(https://images.unsplash.com/photo-1462040015891-7c792246b10e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80) no-repeat center center;
  background-size: cover; }

.gate-area .gate-list:hover li.hover:nth-child(3) {
  background: url(https://images.unsplash.com/photo-1562445927-bdd32a655213?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80) no-repeat center center;
  background-size: cover; }

.gate-area .gate-list:hover li.hover:nth-child(4) {
  background: url(https://images.unsplash.com/photo-1545173456-62a35baa637b?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) no-repeat center center;
  background-size: cover; }

.gate-area .gate-list:hover li.hover:nth-child(5) {
  background: url(https://images.unsplash.com/photo-1511143635062-219d1242e01c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) no-repeat center center;
  background-size: cover; }

.gate-area .gate-list:hover li.hover a span.event {
  opacity: 1; }

.gate-area .gate-list:hover li.hover a:hover .which {
  bottom: 50%; }

.gate-area .gate-list:hover li .event {
  transform: translate(-50%, 0%) scaleX(1); }
