@import 'mixin';

.main_head{
    width:100%; overflow:hidden; position:relative; height:600px;
    margin-top:85px;
    >.img_box{
        transform:translate(50%,50%); position:absolute; top:0; left:0; right:0; bottom:0; 
        img{
            width:100%; transform:translate(-50%,-50%);
        }
        .blocker{
            width:100%; height:100%; top:0; left:0; position:absolute; background: rgba(0, 0, 0, 0.671); transform:translate(-50%,-50%);
        }

    }
    >.easy_selling{
        width:500px; height:auto; padding:20px; position:absolute; top:150px; left:50%; margin-left:-250px; background:rgba(0,0,0,0.6);
        @include border-radius(10px);
        >h3{
            width:100%; font-size:20px; color:#ffffff;
        }
        p{
            font-size:12px;
            color:#ffffff; 
            &.big_font{
                font-size:30px;
            }
        }
        >.put_info{
            width:100%; height:auto;
            margin-top:15px;
            >label{
                width:100%; display:block;
                overflow:hidden; height:auto;
                margin-top:5px;
                background:#595959;
                >span{
                    width:30%; color:#ffffff; display:block; float:left;
                    padding:14px; text-align:center; font-weight:bold;
                }
                >input{width:70%; display:block; float:left; padding:10px; font-size:22px; }
            }
            >button{
                width:100%; padding:14px; background:#4f80cf; color:#ffffff; margin-top:5px; font-size:19px; font-weight:bold;
            }
        }
        >.accept_info{
            width:100%; height:auto; margin-top:5px; 
            display:block;margin-top:5px;
            >span{font-size:13px; color:#ffffff; }
            >button{
                padding:5px 10px;
                background:#ff5a28;
                @include border-radius(5px);
                color:#ffffff;
            }
        }
        >.check_personal{
            width:0%; height:100%; background:rgba(0,0,0,0.6);
            position:fixed; top:0; left:0; opacity: 0;
            z-index:1000;
            padding:80px 0;
            overflow:hidden;
            @include transition(opacity .2s);
            &.on{
                width:100%;
                opacity: 1;
            }
            >.text_box{
                padding:40px;
                line-height:1.5;
                width:80%; height:80vh;
                overflow-y:scroll;
                background:#ffffff;
                margin:auto; 
                
                position:relative;
                >button
                {
                    position:fixed; bottom:12%; right:12%; 
                    padding:15px 18px;
                    color:#ffffff;
                    background:#4f80cf;
                    @include border-radius(5px);
                    font-weight:bold;
                    font-size:18px;
                    letter-spacing: 2px;
                }
            }

        }

    }
}
 
.check_sell{
    width:100%; height:auto;
    border-collapse: collapse;
    margin-top:15px;
    text-align:center;
    font-size:14px;
    
    >thead{
        width:100%; height:auto;
        
        >tr{
        border-top:2px solid #838383;
        border-bottom:2px solid #595959;
        background:#e0e0e0;   
            th{
                padding:15px 0;
                font-size:18px;
            }
        }
    }
    >tbody{
        tr{
            border-bottom:1px solid #cccccc;
            &:nth-child(odd){
                background:#f1f0f0;
            }
            &:nth-child(even){
                background:#e6e4e4;
            }
        }
    }
    tr{
        width:100%; height:auto;

    }
    th{

    }
    td{
        padding:3px 0;
        &.width_50{
            text-align:left;
            padding-left:15px;
        }
        >.consulting{
            display:block;
            background:#ff6d6d;
            width:90%; margin:0 auto;
            padding:10px 0;
            color:#ffffff;
        }
    }
}

.title_box{
    .review_search{
        float:right;
        height:auto;
        input{
            padding:15px;
            font-size:17px;
            display:block;
            float:left;
            height:48px;
            margin-left:5px;
            margin-top:10px;
            
        }
        button{
            padding:15px;
            background:#42c4db;font-size:17px;
            color:#ffffff;
            display:block;
            float:left;
            height:48px;
            margin-left:5px;
            margin-top:10px;
        }
        a{
            padding:15px;
            background: #4f80cf;
            font-size:17px;
            display:block;
            float:left;
            height:48px;
            margin-left:5px;
            margin-top:10px;
        }
    }
}
 