html{overflow-y:scroll; overflow-x:hidden;}
*{margin:0; padding:0; border:0;}
body{font-family:"맑은 고딕", 돋움, 'normal dotum', sans-serif;
	font-size:0.9em; letter-spacing:-0.1em;
	}
li{list-style:none;}
a{text-decoration:none;}
img{border:0;}

.fl{float:left;}
.fr{float:right;}
.cb{clear: both;}
.cf:after{content:""; display:block; clear:both;}
.cf{*zoom:1;}


	/* One Depth 부분 */
#wrap{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120px;
	background:#ffffff;
	z-index:100;
}

#boxsizing
	{position:relative; width:1200px; height:50px; margin:0 auto; z-index:110;}

#gnb{
	position:absolute;
	top:10px;
	right:0;
	
}
#gnb>li{
	padding-left:10px;
	float: left;
	}
#gnb>li a{
	font-size:12px;
	color:#9a9a9a;
}

#gnb>li:nth-child(1)>a:after{content:"    |  "; white-space:pre;}
#gnb>li:nth-child(2)>a:after{content:"    |  "; white-space:pre;}
#gnb>li:nth-child(3)>a:after{content:"    |  "; white-space:pre;}
#gnb>li:nth-child(4)>a>img{padding-right:5px;}
#gnb>li>select {
	border:1px solid #cccccc;
	background:-webkit-linear-gradient(top,#ffffff,#cccccc);
	background:-moz-linear-gradient(top,#ffffff,#cccccc);
	background:-ms-linear-gradient(top,#ffffff,#cccccc);
	width:80px;
	height:17px;
	font-size:9px;
	color:#555555;
	margin-left:10px;
	cursor:pointer;
	}
	
	
	
 /* One Depth 부분 */
 

#gnb1{
	position:fixed;
	width:100%;
	height:120px;
	top:0;
	left:0;
	z-index:101;
	overflow:hidden;
	background:#ffffff;
	border-bottom:1px solid #cccccc;
}
#gnb1>.bg_menu{	
	position:relative;
	left:50%;
	top:-30px;
	margin-left:-600px;
	height:50px;

	width:1300px;
	z-index:102;
	padding-top:50px;
	background:#ffffff;
	}
#gnb1>.bg_menu>li
	{float:left; width:180px; height:290px;margin:0 auto; }
#gnb1>.bg_menu>li>a
	{color:#000000; font-weight:bold; font-size:20px; letter-spacing:0.2px;}
#gnb1>.bg_menu>li>a.active
	{color:#8c0c04;}
#gnb1>.bg_menu>li:hover>a	
	{color:#571c1f; text-shadow:0px 0px 3px #571c1f;}
#gnb1>.bg_menu>li>a>img
	{position:relative; bottom:50px;}

/* Two Depth부분 */

#gnb1>.bg_menu>li>ul
	{margin-top:30px; width:150px; height:230px; border-right:1px solid #aaaaaa;}
#gnb1>.bg_menu>li:nth-child(3)>ul
	{margin-top:30px; width:223px; height:230px; border-right:1px dashed #aaaaaa; margin}
#gnb1>.bg_menu>li>ul>li
	{margin-top:10px;}
#gnb1>.bg_menu>li>ul>li>a
	{font-size:13px; color:#000000;}
#gnb1>.bg_menu>li>ul>li:hover>a
	{color:#571c1f; text-shadow:0px 0px 3px #571c1f;}
/* Two Depth부분 */





#gnb1>ul>.bg_menu>li>ul li:first-child
	{margin-top:45px }
#gnb1>ul>.bg_menu>li>ul
	{border-right:1px solid #aaaaaa; height:300px;}
#gnb1>ul>.bg_menu>li>ul>li
	{height:30px; clear:both;}
#gnb1>ul>.bg_menu>li>ul>li>a
	{color:#666666; font-size:16px;}



/* 					sectionWrap입니다. */

#sectionWrap
	{position:relative; top:0; left:50%; margin-left:-850px; margin-top:120px; width:1700px; height:1550px;}


#scrollImg
	{position:relative; left:-50%; margin-left:-8300px;  width:20000px;   }
#scrollImg .bg_color{position:absolute; top:0; left:0; height:416px; width:20000px;}
.bg_color div{position:absolute; top:0px; left:0;  height:416px;  width:20000px; display:none; } 
.bg_color div.bg_color0{background:#070709;display:block;}	
.bg_color div.bg_color1{background:#dc2329;}
.bg_color div.bg_color2{background:#000000;}
.bg_color div.bg_color3{background:#f58c31;}
.bg_color div.bg_color4{background:#d5c8e4;} 
.bg_color div.bg_color5{background:#d1c7e2;} 
#scrollImg>#overhidden
	{margin:0 auto; position:relative;  width:1247px; height:416px; overflow:hidden;}
#scrollImg>#overhidden>.slider_panel
	{position:absolute; width:9000px; }
#scrollImg>#overhidden>.slider_panel>li
	{float:left;}

#scrollImg>.btn
	{width:500px; height:15px;  position:absolute; bottom:10px; left:50%; margin-left:-50px;}
#scrollImg>.btn>a
	{display:block; float:left; width:15px; height:15px; background:#cccccc; z-index:99; border-radius:15px; margin-right:5px;}
#scrollImg>.btn>a.active
	{background:#c1262c;}
	
#infoService
	{width:1200px; height:380px; margin:0 auto; }
	

#newMenu
	{width:500px; height:300px; margin-top:35px; float:left;}
#newMenu>#infoMenu
	{width:620px; height:20px;}
#newMenu .text
	{font-weight:bold; float:left; letter-spacing:1px; font-size:18px;}
#newMenu>#infoMenu>ul
	{float:right;}
#newMenu>#infoMenu>ul>li
	{float:left; margin-right:4px; margin-top:15px;}
#newMenu>#infoMenu>ul>li:last-child
	{margin-right:50px;}
#newMenu>#infoMenu>ul>li>a
	{ width:16px; height:1px; border-top:6px solid #e5e5e5; float:left; cursor:pointer;}
#newMenu>#infoMenu>ul>li>a.point
	{ width:16px; height:1px; border-top:6px solid #c1262c; float:left;}
#newMenu>.menuImg  
	{position:relative; float:left; clear:both; margin-top:15px;  }
#newMenu>.menuImg>img
	{position:absolute; cursor:pointer;}
#newMenu>.menuImg>img.active
	{z-index:1;}
	
	
#infoShop
	{position:relative; left:100px; width:550px; height:320px; float:left;}
	

#infoShop>#findShop
	{position:relative; width:640px; height:80px; float:left;}
#infoShop>#findShop>ul
	{position:relative; margin-top:40px; float:left; }
#infoShop>#findShop>ul>li
	{float:left; margin-left:20px; font-size:12px; color:#707070;}
#infoShop>#findShop>ul>li:first-child
	{position:relative; top:-7px; font-size:18px; font-weight:bold; margin-left:0; color:#000000;  }
#infoShop>#findShop>ul>li>label>input
	{position:relative; bottom:-3px; margin-right:3px; z-index:95;}
.text_gray
	{color:#cccccc;}
	
	
#infoShop>#findShop>p
	{position:relative;}
#infoShop>#findShop>p>input
	{width:450px; height:34px; border:1px solid #cecebf; opacity:0.5; padding-left:10px; letter-spacing:-1px;}
#infoShop>#findShop>p>a>img
	{position:relative; top:12px; margin-top:-2px; margin-left:1px;}

	
#quickService
	{position:relative; top:50px; width:650px; height:240px; float:left; clear:both; }
	

#openShop
	{width:230px; height:240px; float:left; }
#openShop>#infoOpen>.text
	{font-weight:bold; float:left; letter-spacing:1px; font-size:18px; text-align:center;}
#openShop>#infoOpen>ul
	{float:right; margin-right:-10px;}
#openShop>#infoOpen>ul>li
	{float:left; margin-right:4px; margin-top:15px; display:block; width:16px; height:1px; border-top:6px solid #e5e5e5; float:left; cursor:pointer;}
#openShop>#infoOpen>ul>li.point
	{ width:16px; height:1px; border-top:6px solid #c1262c; float:left;}
#openShop>.imgBox>.openImg
	{width:220px; margin:0 auto;}
#openShop>.imgBox>.openImg>a>img
	{margin-top:20px; margin:10px auto;}

#openShop>.imgBox
	{position:absolute; width:230px; display:none;}
#openShop>.imgBox>.text2
	{font-size:13px; color:#999999; white-space:pre; letter-spacing:-1px; margin-top:5px; text-align:center;}


	
#quickbtn
	{position:relative; left:-20px; float:left; width:350px; height:250px; margin-left:60px; overflow:hidden;}
#quickbtn>.text
	{font-weight:bold; float:left; letter-spacing:1px; font-size:18px; margin-bottom:15px;}
#quickbtn>#btnBox
	{width:350px; height:220px; float:left; clear:both;}
#quickbtn>#btnBox>p
	{float:left; width:120px; margin:5px 0px; }
#quickbtn>#btnBox>p>a
	{float:left; width:120px; text-align:center; color:#666666;}
#quickbtn>#btnBox>p:nth-child(3)
	{clear:both;}

	
#bgGrayColor
	{background:#f9f9f9; position:absolute; top:950px;width:100%; height:320px;}
	
#introSns
	{width:1200px; height:340px; margin:24px auto; }
#introSns ul
	{float:left; width:300px; height:350px; opacitiy:0.5;}
#introSns ul li.bdt>p
	{border-top:2px solid #000000; width:35px; margin-left:130px; margin-top:50px;}
#introSns ul li
	{position:relative; margin-top:15px; text-align:center; color:#666666;}
#introSns ul li.text>a
	{font-weight:bold; font-size:20px; color:#000000; letter-spacing:0.1px;}


#shopping
	{position:relative;  width:1200px; height:350px; margin:0 auto;}

#mall
	{width:600px; height:350px; margin:0 auto; float:left;}
#mallHead>a
	{font-size:24px; font-weight:bold; color:#000000; letter-spacing:0.8px; }
#mallHead>a>span
	{color:#c41c24;}
#mall>#mallHead>ul
	{float:right;}
#mall>#mallHead>ul>li
	{float:left; margin-right:4px; margin-top:15px;}
#mall>#mallHead>ul>li:last-child
	{margin-right:-1px;}
#mall>#mallHead>ul>li>a
	{display:block; width:16px; height:1px; border-top:6px solid #e5e5e5; float:left;}
#mall>#mallHead>ul>li>a.point
	{border-top:6px solid #c1262c;}	

	
#mall_overflow
	{overflow:hidden; width:600px; height:350px;}
.mall_slider
	{position:relative;}
.mallBox 
	{float:left;  position:absolute; width:600px;}
.mallImg2
	{left:100%;}
.mallImg3
	{left:100%;}
.mallBox  ul
	{float:left; }
.mallBox ul li
	{position:relative; text-align:center; margin:20px 5px 0px 5px; color:#000000; font-weight:bold;}
.mallBox  ul li>a
	{color:#999999; font-size:12px; font-weight:normal;}
	
	
#banner
	{width:250px; height:300px; float:left; margin:10px 0px 7px 40px;}
#banner>div.banner2>a>img
	{margin-top:10px;}

	
	
	
#board
	{position:relative; width:280px; height: 350px;  float:left;}
#boardHead
	{width:240px; height:30px; margin:0 auto; border-bottom:1px solid #e5e5e5; padding-bottom:15px;}
#boardHead>span
	{float:left; font-weight:bold; font-size:20px;}
#boardHead>a
	{float:right; margin-top:5px;}
	

#boardList
	{width:240px; height:300px; margin:0 auto;}
#boardList ul
	{position:relative;}
#boardList>ul>li>a
	{font-size:12px;  color:#666666; font-weight:normal; letter-spacing:0.01px; }
#boardList>ul>li>a>span
	{position:relative; top:12px; left:-5px; width:2px; height:12px; display:block; border-top:2px solid #000000; float:left;}
#boardList>ul>li
	{position:relative; left:12px; margin-top:2px;  }
#boardList>ul>li:first-child>a
	{font-size:16px; font-weight:bold; color:#000000;}
#boardList>ul>li:first-child
	{position:relative; left:0px;margin-top:20px; }
#boardList>ul>li:nth-child(2)
	{margin-top:23px;}

.balloon
	{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(45deg, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */color:#ffffff; font-weight:bold; padding:15px; position:absolute; display:none; border-radius:15px; z-index:10000;}
	
	
/* 				날씨 부분입니다. */


#weather {position:absolute; top:475px; right:-500px; width:175px; height:300px; background: url(../img/bgsky.jpg) no-repeat; z-index:10; border-radius:20px;} 

.afterDay { text-align:right; }
.afterDay .today_text {position:absolute; top:20px; left:30px; font-size:20px; color:white;}


.dateweek {position:relative; top:120px; left:30px; letter-spacing:2px;  }
.dateweek .datecontent {position:absolute; float:left; font-size: 14px; text-align: center; letter-spacing: 1px; color: white; }
.dateweek .cloudsmall { text-align: left;}

.dateweek .number {margin-left:40px; font-size: 14px; text-align: center; letter-spacing: 2px; color: white;}
.datecontent02 {position:absolute; font-size: 14px; text-align: center; letter-spacing: 1px; color: white; }
.cloudsmall02 { text-align: left;}
.number02 {margin-left:40px; font-size: 14px; text-align: center; letter-spacing: 2px; color: white;}
.temp { position:absolute; top:60px; left:25px; letter-spacing: 0.2px; line-height: 89%; font-size:80px; color: white;  font-family:arial; }
.date {position:absolute; top:140px; left:5px; letter-spacing: -1px; font-size: 24px; color: white; }
.degspan {position: relative; font-family:arial; font-size: 30px; right: -15px; top: -15px;}
/*
.today { float: right; height: 180px; padding-top: 6px; } 
.temp { position:relative; float:left; *width:235px; letter-spacing: -21px; line-height: 89%; font-size: 220px; color: white; padding-top:12px;}
.date {float: right; padding-top: 26px; width:180px; padding-left: 98px; letter-spacing: -1px; font-size: 24px;color: white; }
.degspan {position: absolute; font-family:arial; font-size: 122px; right: -53px; top: -34px;}
*/	
	
	
	
	
	
	
	
	
	
	
	
	
	

/* 			Footer 			 */

#sitemapBox
	{position:relative; width:100%; height:300px; background:#fafafa; overflow:hidden; border-top:1px solid #cccccc;}
#sitemapBox>#sitemap
	{position:relative; left:50%; width:1400px; height:300px; margin-left:-700px;}
#sitemapBox>#sitemap>ul
	{width:150px; height:250px; float:left; margin:25px 0px; border-right:1px solid #e5e5e5; margin-left:20px;}
#sitemapBox>#sitemap>ul>li:first-child>a
	{color:#000000; font-weight:bold; letter-spacing:0.2px;}
#sitemapBox>#sitemap>ul>li>a
	{color:#707070; font-size:12px; letter-spacing:0.5px;}
#sitemapBox>#sitemap>ul>li:nth-child(2)
	{margin-top:10px;}
#sitemapBox>#sitemap>ul:first-child>li
	{position:relative; right:50px;margin-top:80px; }
#sitemapBox>#sitemap>ul:last-child
	{border-right:none;}


#footer
	{position:relative; width:100%;  height:210px; background:#2c2a29;}
#footer>.footerbg1
	{position:relative; width:100%; height:46px; background:#2c2a29; border-bottom:1px solid #42403f; overflow:hidden;}
#footer>.footerbg1>#footer1
	{position:relative; left:50%; margin-left:-700px; top:13px; width:1400px; height:46px; color:#808080; }
#footer>.footerbg1>#footer1>a
	{color:#cccccc; margin-left:15px; margin-right:15px; }
#footer>.footerbg1>#footer1>a.fr>img
	{position:absolute; top:-13px; right:0;}
	
#footer>.footerbg2
	{position:relative; width:100%; height:46px; background:#2c2a29;  overflow:hidden;}
#footer>.footerbg2
		{position:relative; left:50%; margin-left:-700px; top:13px; width:1400px; height:134px; color:#808080; }
#footer>.footerbg2>p
	{color:#aaaaaa; float:left; font-size:11px; letter-spacing:0.5px; margin-top:15px;}
#footer>.footerbg2>p>span
	{margin-left:15px; margin-right:10px;}
#footer>.footerbg2>p.mgt
	{margin-top:22px; margin-left:20px;}
	
	
	
	
	
/* 					확인된 배너 */

.clear
	{position:absolute; bottom:-1000px; left:0; z-index:1000;}
