<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title>블리자드 엔터테인먼트</title>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="https://d9me64que7cqs.cloudfront.net/images/favicon-cb34a003c6f2f637ee8f4f7b406f3b9b120b918c04cabec7f03a760e708977ea9689a1c638f4396def8dce7b202cd007eae91946cc3c4a578aa8b5694226cfc6.ico">	
	<link rel="stylesheet" href="css/style.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div class="bg_black"></div>
	<div id="header">	
		<div class="header_box">
			<div class="img">
				<img src="img/logo.png" alt="logo" />
			</div>
			<div class="media_button">
				<span class="top"></span>
				<span class="middle"></span>
				<span class="middle2"></span>
				<span class="bottom"></span>
			</div>
			
			<div class="media_box">
				<div class="media_img">
					<img src="img/logo.png" alt="logo" />
				</div>
				<ul class="fl">
					<li class="first"><a href="#">게임<img src="img/down_arrow.png" alt="arrow" class="down_arrow"/></a>
						<div class="bg">
							<div class="bg_box">
								<a href="#"><img src="img/tap07.jpg" alt="이미지" /></a>
								<a href="#"><img src="img/tap06.jpg" alt="이미지" /></a>
								<a href="#"><img src="img/tap05.jpg" alt="이미지" /></a>
								<a href="#"><img src="img/tap04.jpg" alt="이미지" /></a>
								<a href="#"><img src="img/tap03.jpg" alt="이미지" /></a>
								<a href="#"><img src="img/tap02.jpg" alt="이미지" /></a>
								<a href="#"><img src="img/tap01.jpg" alt="이미지" /></a>
							</div>
							<div class="bg_box_mobile"  >
								<a href="#"><img src="img/mobile_tap01.png" alt="이미지" /><span>오버워치</span></a>
								<a href="#"><img src="img/mobile_tap02.png" alt="이미지" /><span>월드 오브 워크래프트</span></a>
								<a href="#"><img src="img/mobile_tap03.png" alt="이미지" /><span>하스스톤</span></a>
								<a href="#"><img src="img/mobile_tap04.png" alt="이미지" /><span>히어로즈 오브 더 스톰</span></a>
								<a href="#"><img src="img/mobile_tap05.png" alt="이미지" /><span>스타크래프트II</span></a>
								<a href="#"><img src="img/mobile_tap06.png" alt="이미지" /><span>스타크래프트 리마스터</span></a>
								<a href="#"><img src="img/mobile_tap07.png" alt="이미지" /><span>디아블로III</span></a>					
							</div>							
						</div>
						<div class="bg_mobile disNone">
							<div class="bg_box_mobile2 disNone"  >
								<a href="#"><img src="img/mobile_tap01.png" alt="이미지" /><span>오버워치</span></a>
								<a href="#"><img src="img/mobile_tap02.png" alt="이미지" /><span>월드 오브 워크래프트</span></a>
								<a href="#"><img src="img/mobile_tap03.png" alt="이미지" /><span>하스스톤</span></a>
								<a href="#"><img src="img/mobile_tap04.png" alt="이미지" /><span>히어로즈 오브 더 스톰</span></a>
								<a href="#"><img src="img/mobile_tap05.png" alt="이미지" /><span>스타크래프트II</span></a>
								<a href="#"><img src="img/mobile_tap06.png" alt="이미지" /><span>스타크래프트 리마스터</span></a>
								<a href="#" style="border-bottom:1px solid #272c34;"><img src="img/mobile_tap07.png" alt="이미지" /><span>디아블로III</span></a>
								<a href="#"><i class="fa fa-th"></i><span class="under">모든 게임</span></a>
								<a href="#"><i class="fa fa-download"></i><span class="under">다운로드</span></a>
								<a href="#"><i class="fa fa-comments"></i><span class="under">게임 토론장</span></a>								
							</div>							
						</div>
						<div class="bg2">
							<div class="bg2_box">
								<a href="#"><i class="fa fa-th"></i>모든 게임</a>
								<a href="#"><i class="fa fa-download"></i>다운로드</a>
								<a href="#"><i class="fa fa-comments"></i>게임 토론장</a>
							</div>						
						</div>
					</li>
					<li><a href="#">샵</a></li>
					<li><a href="#">새소식</a></li>
					<li class="forth"><a href="#">이스포츠<img src="img/down_arrow.png" alt="arrow" class="down_arrow none" /></a>
						<div class="bg3">
							<div class="bg_box3">
								<a href="#"><img src="img/tap16.png" alt="오버워치" /><span>오버워치 리그</span></a>
								<a href="#"><img src="img/tap15.png" alt="오버워치" /><span>오버워치 월드컵</span></a>
								<a href="#"><img src="img/tap14.png" alt="하스스톤" /><span>하스스톤 챔피언십 투어</span></a>
								<a href="#"><img src="img/tap13.png" alt="히어로즈" /><span>하스스톤 글로벌 챔피언십</span></a>
								<a href="#"><img src="img/tap12.png" alt="스타크래프트" /><span>스타그래프트 II WCS</span></a>
								<a href="#"><img src="img/tap11.png" alt="월드오브 워크래프트" /><span>월드 오브 워크래프트 아 <br /> 레나 월드 챔피언십</span></a>
							</div>
						</div>
						<div class="bg4">
							<div class="bg2_box4">
								<a href="#"><i class="fa fa-th"></i>모든 게임 대회</a>
								<a href="#"><i class="fa fa-trophy"></i>참고사항</a>
								<a href="#"><i class="fa fa-map-marker"></i>블리자드 아레나</a>
							</div>
						</div>					
					</li>
					<li><a href="#">이벤트</a></li>
				</ul >
				<ul class="fr">
					<li><a href="#">고객지원</a></li>
					<li style="position:relative;" class="none"><a href="#">내 계정 <img src="img/down_arrow.png" alt="arrow" class="down_arrow"/></a> 
						<ul>
							<li class="first"><a href="#">로그인</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> <span>계정 관리</span></a></li>
							<li><a href="#"><i class="fa fa-user-plus"></i><span>무료 회원 가입</span></a></li>
						</ul>
					</li>	
					<li class="disNone"><a href="#">계정</a></li>
					<li class="disNone"><a href="#">내 선물</a></li>
					<li class="disNone"><a href="#">인재 채용</a></li>
					<li class="disNone"><a href="#">회사 소개</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="img_slide">
		<div class="center">
			<div class="slide01 img1" style="display:block; opacity:1;">
				<img src="img/slide01.png" alt="slide01" class="none"/>			
			</div>
			<div class="slide01 img2">
				<img src="img/slide02.png" alt="slide02" class="none"/>			
			</div>
			<div class="slide01 img3">
				<img src="img/slide03.png" alt="slide03" class="none"/>			
			</div>
			<div class="slide01 img4">
				<img src="img/slide04.png" alt="slide04" class="none"/>			
			</div>
			<div class="slide01 img5">
				<img src="img/slide05.png" alt="slide05" class="none"/>			
			</div>
			
			<div class="text_box" style="opacity:1;">
				<div class="box" >
					<img src="img/hearthstone_text.png" alt="hearthstone" />
					<h2>마녀숲</h2>
					<a href="#">자세히 보기</a>
				</div>			
				<div class="box">
					<img src="img/warcraft_text.png" alt="warcraft" />
					<h2>격전의 아제로스</h2>
					<a href="#">자세히 보기</a>
				</div>			
				<div class="box">
					<img src="img/overwatch_text.png" alt="overwatch" />
					<h2>브리기테 <br />지금 플레이하세요</h2>
					<a href="#">자세히 보기</a>
				</div>			
				<div class="box">
					<img src="img/overwatch_league_text.png" alt="overwatch_league" />
					<h2>1시즌 실시간 보기</h2>
					<a href="#">자세히 보기</a>
				</div>			
				<div class="box" style="top:200px;">
					<img src="img/starcraft_text.png" alt="hearthstone" />
					<h2>20주년</h2>
					<a href="#">자세히 보기</a>
				</div>			
			</div>
			<div class="button" style="opacity:1;">
				<a href="#" class="on"><span></span></a>
				<a href="#"><span></span></a>
				<a href="#"><span></span></a>
				<a href="#"><span></span></a>
				<a href="#"><span></span></a>
			</div>
		</div>
	</div>
	<div id="game_list">
		
		<h1>게임 <span>모든 게임 보기 ></span></h1>
		<p>Blizzard</p>
		<ul>
			<li><a href="#"><img src="img/tap07.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#"><i class="fa fa-shopping-cart"></i>지금 구매</a></li>
				</ul>
			</li>
			<li><a href="#"><img src="img/tap06.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#" class="bb"><i class="fa fa-shopping-cart"></i>지금 구매</a></li>
					<li><a href="#"><i class="fa fa-gamepad"></i>무료 체험</a></li>
				</ul>			
			</li>
			<li><a href="#" class="clear2"><img src="img/tap05.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#"><i class="fa fa-gamepad"></i>무료 플레이</a></li>
				</ul>			
			</li>
			<li class="clear"><a href="#"><img src="img/tap04.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#"><i class="fa fa-gamepad"></i>무료 플레이</a></li>
				</ul>			
			</li>
			<li class="ml clear2"><a href="#"><img src="img/tap03.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#"><i class="fa fa-gamepad"></i>무료 플레이</a></li>
				</ul>			
			</li>
			<li class="ml"><a href="#"><img src="img/tap02.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#"><i class="fa fa-shopping-cart"></i>지금 구매</a></li>
				</ul>			
			</li>
			<li class="ml"><a href="#"><img src="img/tap01.jpg" alt="이미지" /></a>
				<ul>
					<li class="more"><a href="#">더보기</a></li>
					<li><a href="#"><i class="fa fa-shopping-cart"></i>지금 구매</a></li>
				</ul>			
			</li>
		</ul>
		<div class="info">
			<p class="tr">한 곳에서 모든 게임을 플레이할 수 있는 <br class="disNone"/> <span> 블리자드 Battle.net 앱</span><i class="fa fa-chevron-right disNone"></i>	</p>
			<p class="tl">언제 어디서나 함께하세요! <br class="disNone"/> <i class="fa fa-mobile"></i> <span>블리자드 Battle.net 모바일 앱</span><i class="fa fa-chevron-right disNone"></i>	</p>
		</div>
	</div>
	<div id="import_news">
		<div class="content_box">
			<div class="content1">
				<h2>주요 소식 <a href="#">새소식 모두 보기></a></h2>
				<a href="#" class="box1">
					<p>OVERWATCH-LEAGUE <br /><span class="white">2018년 오버워치 월드컵 안내</span><br /><span class="box">자세히 보기</span></p>									
					<div class="hidden"><img src="img/news.jpg" alt="new" /><div class="mobile_ver"></div></div>
				</a>
				<a href="#" class="box2">
					<div class="hidden"><img src="img/news3.jpg" alt="new2" /></div>
					<p><span>새 소식</span><br />마녀숲에 용감하게 뛰어들 준비를 하세요!</p>
	
				</a>
				<a href="#" class="box2 margin" >
					<div class="hidden"><img src="img/news4.png" alt="new3" /></div>
					<p><span>새 소식</span><br />스타크래프트의 20주년을 축하합니다.</p>		
									
				</a>
				<a href="#" class="box2">
					<div class="hidden"><img src="img/news2.png" alt="new4" /></div>
					<p><span>하스스톤</span><br />까마귀의 해가 다가옵니다!</p>		
					
				</a>
			</div>
			<div class="content2">
				<h2>진행 예정 행사</h2>
				<div class="box1">
					<p class="first">4월 <br /> 2일-8일</p>
					<p class="second"><span>HGC</span> <br />League Play-Week8</p>
					<i class="fa fa-chevron-right"></i>
				</div>
				<div class="box1">
					<p class="first">4월 <br /> 4일-7일</p>
					<p class="second"><span>OVERWATCH LEAGUE</span> <br /> Stage 3 - Week 1</p>
					<i class="fa fa-chevron-right"></i>		
				</div>
				<p>기준 시간: KST</p>
			</div>
		</div>
	</div>
	<div id="new_mem">
		<div class="img_box1 box"></div>
		<div class="img_box2 box"></div>
		<div class="img_box3 box"></div>
		<div class="img_box4 box"></div>
		<div class="img_box5 box"></div>
		<h2>세계를 창조하시겠습니까? <br /> <span>블리자드의 인재 채용 <br class="disNone"/>정보를 살펴보세요.</span></h2 >
		<a href="#">자세히 보기</a>
	</div>
	<div id="footer">
		<div class="copyRight">
			<ul>
				<li><a href="#"><i class="fa fa-language"></i>한국어<i class="fa fa-angle-double-up"></i></a>
					<ul>
						<li><a href="#">Deutsch</a></li>
						<li><a href="#">Polski</a></li>					
						<li><a href="#">English (US)</a></li>
						<li><a href="#">Русский</a></li>
						<li><a href="#">English (EU)</a></li>
						<li><a href="#">한국어</a></li>
						<li><a href="#">Español (EU)</a></li>
						<li><a href="#">ภาษาไทย</a></li>
						<li><a href="#">Español (AL)</a></li>
						<li><a href="#">日本</a></li>
						<li><a href="#">Français</a></li>
						<li><a href="#">繁體中文</a></li>
						<li><a href="#">Italiano</a></li>
						<li><a href="#">简体中文</a></li>
						<li><a href="#">Português (AL)</a></li>
					</ul>
				</li>
			</ul>
			<img src="img/logo.png" alt="logo" />
			<p class="pre"><a href="#">인재 채용</a>   |   <a href="#">회사소개</a>   |   <a href="#">고객 지원</a>  <br class="disNone"/> <span>|</span>   <a href="#">보도 자료</a>   |   <a href="#">API</a>   |    <a href="#">블리자드 PC방</a> </p>
			
			<p class="copy">©2018 BLIZZARD ENTERTAINMENT, INC. 모든 권리는 BLIZZARD ENTERTAINMENT에 있습니다. <br />
			여기서 언급된 다른 모든 상표는 각 소유권자들의 자산입니다.</p>
			
			<p class="pre" style="font-size:12px; margin-top:5px;"><a href="#">개인정보 처리방침</a>     |     <a href="#">법률관련 문서</a></p>
			
			<p style="margin-top:28px;">블리자드 엔터테인먼트 유한 회사<br />
			주소: 06164 서울시 강남구 테헤란로 521 파르나스타워 15층<br />
			대표 번호: 1644-0727 | 팩스 번호: (02)544-3038 | 이메일: <a href="#">websupport@blizzard.co.kr </a><br />
			사업자 등록 번호: 211-87-49910 | 통신 판매업 신고 번호: 강남-6017호 |  <a href="#">사업자정보확인</a> <br />
			대표이사: 마이클 모하임, 마이클 퐁 | 개인정보 보호책임자: 전동진 Operation팀/Operation담당이사</p>
		</div>
	</div>

</body>
</html>
