html{overflow-y:scroll; overflow-x:hidden; }

*{margin:0; padding:0; border:0;  
-webkit-box-sizing:border-box ;
-moz-box-sizing:border-box ;
-ms-box-sizing:border-box ;
-o-box-sizing:border-box ;
box-sizing:border-box ;}
body{font-family:"맑은 고딕", 돋움, 'normal dotum', sans-serif; font-size:13px;}
ul{list-style:none;}
a{text-decoration:none; color:#000000;}


i{color:#ffffff; font-size:30px; transition:color .2s;}
i.on{color:#ffffff;}

/* 				HEADER 				*/

#header
	{position:fixed;  z-index:30; transition:background .2s; background:rgba(0,0,0,0.4); }
#header.on 
	{ background:rgba(0,0,0,0.4); }
	
#header>.td_bg
	{background:#ffffff; position:absolute; top:100%;  background:rgba(0,0,0,0.4); }
	
#header>.nav
	{width:80%; margin:0 auto; height:100%; text-align:center;}
#header>.nav>li
	{float:left; position:relative; width:10%; height:100%; }
#header>.nav>li>a
	{font-size:16px; width:100%; height:100%; display:block; padding-top:30px; color:#F3F3F3; transition:color .2s;}
#header>.nav>li>a.on
	{color:#ffffff;}
	
#header>.nav>.home_btn
	{width:15%;}
#header>.nav>.home_btn>a
	{font-size:25px;}
#header>.nav>.home_btn>a>i
	{margin-left:10px; }
	
	
#header>.nav>.ml
	{margin-left:15%;}
	
	
#header>.nav>.contact
	{float:right; width:auto;}
#header>.nav>.contact>a
	{font-size:17px;}
#header>.nav>.contact>a>i
	{font-size:20px; margin-right:10px;}
	

/* 				TWO_DEPTH				*/	

#header>.nav>li>ul
	{position:absolute; width:100%; height:0; top:100%; left:0; margin-top:15%; overflow:hidden;}
#header>.nav>li>ul>li
	{height:40px;}
#header>.nav>li>ul>li>a
	{color:#ffffff;}

	
	
	
/* 				SECTION				*/		

#content01
	{position:relative; overflow:hidden;}
#content01>.slide_img
	{width:100%; height:100%; position:relative; }
#content01>.slide_img>li
	{width:100%; height:100%; position:absolute; top:0; left:0; transition:transform 4s; display:none;}
#content01>.slide_img>li.start
	{display:block;}
	
#content01>.slide_img>.img01
	{background:url(../img/main_slide01.png) no-repeat; background-size:cover;}
#content01>.slide_img>.img02
	{background:url(../img/main_slide02.png) no-repeat; background-size:cover;}
#content01>.slide_img>.img03
	{background:url(../img/main_slide03.png) no-repeat; background-size:cover;}	
#content01>.slide_img>.img04
	{background:url(../img/main_slide04.png) no-repeat; background-size:cover;}	
	
	
#content01>.text_box
	{position:absolute; width:500px; height:500px; background:rgba(0,0,0,0.7); top:50%; left:50%; margin-top:-250px; margin-left:-250px;}

#content01>.text_box>.line_top
	{position:absolute; top:0; left:0; width:100%; height:3px; background:rgba(155,155,155,0.6)}

#content01>.text_box>.line_right
	{position:absolute; top:248.5px; left:248.5px;  width:100%; height:3px; background:rgba(155,155,155,0.6); transform:rotate(90deg)}

#content01>.text_box>.line_bottom
	{position:absolute; bottom:0; left:0; width:100%; height:3px; background:rgba(155,155,155,0.6); transform:rotate(180deg)}

#content01>.text_box>.line_left
	{position:absolute; top:248.5px; right:248.5px;  width:100%; height:3px; background:rgba(155,155,155,0.6); transform:rotate(-90deg)}	

	
#content01>.text_box>.bar .startC
	{position:absolute; width:20px; height:20px; top:0; left:0; display:block; z-index:20; margin-top:-10px; margin-left:-10px; border-radius:10px; overflow:hidden; background:rgba(100,100,100,0.9); }

#content01>.text_box>.bar .C_bg
	{width:0; height:0; display:block; background:#fff; border-radius:10px; margin-top:10px; margin-left:10px;}
#content01>.text_box>.bar>.startC>.fullF
	{width:100%; height:100%; margin:0;}
	
#content01>.text_box .line_bg
	{position:absolute; width:0%; height:3px; background:#ffffff; display:block; }
#content01>.text_box>.text
	{width:100%; height:100%; text-align:center;}
#content01>.text_box>.text>ul
	{width:100%; height:100%;}
#content01>.text_box>.text>ul>li
	{width:100%; height:100%; color:#ffffff; display:none; position:absolute;}
#content01>.text_box>.text>ul>li.show
	{display:block; }
#content01>.text_box>.text>ul>li>span
	{display:block; }
#content01>.text_box>.text>ul>li>span.title
	{top:0; left:0; font-size:35px; margin-top:22%; margin-left:-15%;}
#content01>.text_box>.text>ul>li>span.sub
	{font-size:16px; margin-top:20%; margin-left:-15%;}
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	