<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <title>project components guide</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      href="../../assets/styles/component_guide.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="../../assets/styles/style.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="uid-container">
      @@include('_component_header.html')
      @@include('_component_navigation.html')

      <main class="uid-main">
        <h1 class="uid-title01">button</h1>
        <p class="uid-desc">버튼 모음</p>

        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
            <li>
              &#60;a href="#">&#60;/a> 태그 사용 할 때는 이렇게 작성하면 됩니다.
            </li>
            <li>
              <a href="http://www.naver.com">
                링크스타일은 아이콘이 자동으로 붙습니다.
              </a>
            </li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">컴포넌트 예제 영역</h2>
          <ul class="uid-list">
            <li>컴포넌트 예제 설명1</li>
            <li>컴포넌트 예제 설명2</li>
            <li>코드하이라이트는 아래와 같이 사용 하면 됩니다.</li>
          </ul>
          <div class="code_preview uid-demo"></div>
          <div class="code_info">
            <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">
              Copy to clipboard
            </button>
          </div>
          <textarea class="code_content html ui_code_content" data-code="html">
<button class="btn" type="button">
    <span class="txt">기본버튼</span>
</button>
<a class="btn" href="#none">
    <span class="txt">기본버튼</span>
</a></textarea
          >
        </section>

        <!-- 샘플 소스 : 복사해서 사용하기
                <section class="uid-component">
                    <h2 class="uid-title02">css icon - triangle</h2>
                    <ul class="uid-list">
                        <li>svg 아이콘 설명</li>
                    </ul>
                    <div class="code_preview uid-demo"></div>
                    <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
                    <textarea class="code_content html ui_code_content" data-code="html">

                    </textarea>
                </section>
                -->
      </main>

      @@include('_component_footer.html')
    </div>
    <script src="../../assets/scripts/component_guide.js"></script>
    <script></script>
  </body>
</html>
