<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title>JeJu Island</title>
	<link rel="shortcut icon" type="image/ico" href="images/favicon.ico">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

	<script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" href="css/style.css" />
	
</head>
<body>

	<div id="section1" class="fixed offTop">
			<img class="p11" src="images/obj14.png" alt="" />

	</div>
	<div id="section1_1" class="fixed"></div>
	<div id="section2" class="fixed offTop">
			<img class="p21" src="images/obj21.png" alt="" />
			<img class="p22" src="images/obj22.png" alt="" />	
	</div>
	<div id="section2_1" class="fixed"></div>
	<div id="section3" class="fixed offTop">
			<img class="p32" src="images/obj35.png" alt="" />
			<img class="p33" src="images/obj34.png" alt="" />	
	</div>
	<div id="section3_1" class="fixed"></div>
	<div id="section4" class="fixed offTop">
		<img class="p41" src="images/obj41.png" alt="" />
		<img class="p42" src="images/obj42.png" alt="" />	
	</div>
	

	<div class="front_section">
		<ul>
			<li class="spring on"><a href="#">SPRING</a></li>
			<li class="summer"><a href="#">SUMMER</a></li>
			<li class="fall"><a href="#">FALL</a></li>
			<li class="winter"><a href="#">WINTER</a></li>
		</ul>
		<img width="300" src="images/jeju_sym.png" alt="sym" style="position:fixed; top:70px; right: 0px; z-index:20;"/>
	</div>
</body>
</html>