html{overflow-y:scroll;}
*{margin:0; padding:0; border:0;}
body{font-family:"맑은 고딕", 돋움, 'normal dotum', sans-serif;
	font-size:0.9em; letter-spacing:-0.1em;
	}
li{list-style:none;}
a{text-decoration:none;}
img{border:0;}

.fl{float:left;}
.fr{float:right;}
.cb{clear: both;}
.cf:after{content:""; display:block; clear:both;}
.cf{*zoom:1;}



	
 /* One Depth 부분 */
#wrap{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120px;
	background:#ffffff;
	z-index:100;
}

#boxsizing
	{position:relative; width:1200px; height:50px; margin:0 auto;}

#gnb{
	position:absolute;
	top:10px;
	right:0;
}
#gnb>li{
	padding-left:10px;
	float: left;
	}
#gnb>li a{
	font-size:12px;
	color:#9a9a9a;
}

#gnb>li:nth-child(1)>a:after{content:"    |  "; white-space:pre;}
#gnb>li:nth-child(2)>a:after{content:"    |  "; white-space:pre;}
#gnb>li:nth-child(3)>a:after{content:"    |  "; white-space:pre;}
#gnb>li:nth-child(4)>a>img{padding-right:5px;}
#gnb>li>select {
	border:1px solid #cccccc;
	background:-webkit-linear-gradient(top,#ffffff,#cccccc);
	background:-moz-linear-gradient(top,#ffffff,#cccccc);
	background:-ms-linear-gradient(top,#ffffff,#cccccc);
	width:80px;
	height:17px;
	font-size:9px;
	color:#555555;
	margin-left:10px;
	cursor:pointer;
	}
	
	
	
 /* One Depth 부분 */
 

#gnb1{
	position:fixed;
	width:100%;
	height:120px;
	top:0;
	left:0;
	z-index:101;
		
}
#gnb1>.bg_menu{	
	position:relative;
	left:50%;
	top:-30px;
	margin-left:-600px;
	height:50px;
	overflow:hidden;
	width:1300px;
	z-index:1000;
	padding-top:50px;
	-webkit-transition-property:height;
	-webkit-transition-duration:1s;
	-moz-transition-property:height;
	-moz-transition-duration:1s;
	-ms-transition-property:height;
	-ms-transition-duration:1s;
	-o-transition-property:height;
	-o-	transition-duration:1s;
	transition-property:height;
	transition-duration:1s;
	}
#gnb1>.bg_menu>li
	{float:left; width:180px; height:; margin:0 auto; }
#gnb1>.bg_menu>li>a
	{color:#000000; font-weight:bold; font-size:20px; letter-spacing:0.2px;}
#gnb1>.bg_menu>li>a.active
	{color:#8c0c04;}
#gnb1>.bg_menu>li:hover>a	
	{color:#571c1f; text-shadow:0px 0px 3px #571c1f;}
#gnb1>.bg_menu>li>a>img
	{position:relative; bottom:50px;}

/* Two Depth부분 */

#gnb1>.bg_menu>li>ul
	{margin-top:30px; width:150px; height:230px; border-right:1px solid #aaaaaa;}
#gnb1>.bg_menu>li:nth-child(3)>ul
	{margin-top:30px; width:223px; height:230px; border-right:1px dashed #aaaaaa; margin}
#gnb1>.bg_menu>li>ul>li
	{margin-top:10px;}
#gnb1>.bg_menu>li>ul>li>a
	{font-size:13px; color:#000000;}
#gnb1>.bg_menu>li>ul>li:hover>a
	{color:#571c1f; text-shadow:0px 0px 3px #571c1f;}

#gnb1>.bg_color{
width:100%; height:0px; position:absolute; top:120px; left:0px; background:#ffffff;
	-webkit-transition-property:height;
	-webkit-transition-duration:1s;
	-moz-transition-property:height;
	-moz-transition-duration:1s;
	-ms-transition-property:height;
	-ms-transition-duration:1s;
	-o-transition-property:height;
	-o-	transition-duration:1s;
	transition-property:height;
	transition-duration:1s;
}
#gnb1:hover>.bg_menu{height:350px;}
#gnb1:hover>.bg_color{height:300px;}

/* Two Depth부분 */



.bg_color{position:absolute; top:120px; left:0; width:100%; height:0px; background:#ffffff; z-index:99;border-bottom:1px solid #aaaaaa;
	-webkit-transition-property:height;
	-webkit-transition-duration:1s;
	-moz-transition-property:height;
	-moz-transition-duration:1s;
	-ms-transition-property:height;
	-ms-transition-duration:1s;
	-o-transition-property:height;
	-o-	transition-duration:1s;
	transition-property:height;
	transition-duration:1s;	
	}


#gnb1>ul>.bg_menu>li>ul li:first-child
	{margin-top:45px }
#gnb1>ul>.bg_menu>li>ul
	{border-right:1px solid #aaaaaa; height:300px;}
#gnb1>ul>.bg_menu>li>ul>li
	{height:30px; clear:both;}
#gnb1>ul>.bg_menu>li>ul>li>a
	{color:#666666; font-size:16px;}
	
#gnb1:hover>ul>.bg_menu
	{height:350px;}

#gnb1:hover .bg_color
	{height:320px;

	}

/* 상단 이미지부분 */
#headImg {
	z-index:99;
	position:relative;
	top:0;
	left:50%;
	margin-left:-750px;
	width:1500px;
	height:350px;
	text-align:center;
	background:#000;	
	margin-top:x;
}			
#headImg h1{
	color:#ffffff;
	position:relative;
	bottom:-240px;
	left:-35px;
	z-index:101;
	font-size:1.2em;
	font-weight:none;
	
}
#headImg h1 span{
	padding-top:10px;
	border-top:2px solid #fff;
}
#headImg h2{
	color:#ffffff;
	position:relative;
	bottom:-250px;
	left:-35px;
	z-index:101;
	font-size:2.8em;
	font-weight:none;
	
}
#address{position: relative;
	width:300px;
	margin-bottom:20px;
	left:-150px;}
#address ul li{
	font-size:11px;
	padding-left:3px;
	position: relative;
	float:left;
}
#address ul li a{
	position:relative;
	right:-12px;
}
#address ul li:nth-child(1){

	background:url(../sub_board/icon_home.gif) no-repeat 5px;
}
#address ul li:nth-child(1) a{
	position:relative;
	right:-14px;
}


#address ul li:nth-child(1):after{
	content:" > ";
	white-space:pre;
	position:relative;
	right:-14px;
	
}
#address ul li:nth-child(2):after{
	content:" > ";
	white-space:pre;
	position:relative;
	right:-14px;
}
#address ul li:nth-child(3):after{
	content:" > ";
	white-space:pre;
	position:relative;
	right:-14px;
}

#address ul{
	padding-top:22px;
	padding-bottom:22px;
	right:-1135px;
	position: relative;
	list-style:none;
}
#block{
	position:relative;
	left:-22px;
	clear:both;
	width:1250px;
	height:30px;
	margin:0 auto;
	}
#block ul{list-style:none; }
#block ul li{ }
#block ul, a{
	color:#666666;
	text-decoration:none;
}
#tap{position:relative;}
#block1{
	width:1500px;
	height:80px;
}
#tap1{
	position:relative;
	border:1px solid #cccccc;
	text-align:center;
	width:620px;
	height:38px;
	padding-top:20px;
	background:#e6e6e6;
}
#tap2{
	position:relative;
	background:#A50000;
	text-align:center;
	width:620px;
	height:40px;
	padding-top:20px;
	color:#ffffff;
	font-weight:bold;
	
}
	
#line {
	position:relative;
	left:-30px;
	border-top:1px solid #ccc;
	width:1250px;
	margin:150px auto 10px auto;
}


#line h2{
	width:150px;
	background:#ffffff;
	margin:0 auto;
	position:relative;
	top:-22px;
	text-align:center;
	font-size:29px;
	color:#333333;
}
/*				  게시판 부분 			 */
#section{
	position:relative;
	
	width:100%;
	
}

#board{
	position:relative;
	width:100%;
	height:600px;
	padding:0 ;
	left:50%;
	margin-left:-580px;
}
.fl{float:left;}
#board ul{
	position:relative;
	list-style:none;
	font-size:12px;
}
#board li{
	position:relative;
}
#board .box1 li{
	padding:15px 15px 15px 30px; 
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	color:#666666;
}
#board .box2 li{
	padding:15px 601px 15px 30px;
	border-bottom:1px solid #cccccc;
	text-decoration:none;
}
#board .box2 li a{
	color:#666666;
	text-decoration:none;
}
#board .box2{overflow:hidden;}
#board .box2 li:first-child{
	
	overflow:hidden;
	margin-right:-590px;
}
#board .box3 li{
	padding:15px 30px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}
#board li:first-child{
	background:#f3f3f3;
	text-align:center;
	color:#000;
	font-weight:bold;
	border-top:1px solid #000;
}

#board .box3 li:first-child{
	
	border-left:1px solid #cccccc;
	
}

#page{position:relative;
	top:-50px;
	right:-60px;
}


#page ul{
	position:relative;
	
	
	list-style:none;
	width:600px;
	margin:0 auto;
	text-align:center;
	
}

#page ul li:nth-child(1) a{
	background:#666666;
}
#page ul li:nth-child(10) a{
	background:#ffffff;
	color:#000000;
}
#page ul li a{ 
	color:#ffffff;
		margin:1px;
	padding:6px 15px 8px 15px;
	float:left;
	background:#b3b3b3;
	font-weight:bold;
	
	
	}
#border{
	width:100%;
	position:relative;
	border-bottom:1px solid #999999;
	}
#search{
	margin-top: 30px;
	margin-bottom:90px;
	position:relative; 
	left:-400px;
	
	
	
}
#title{
	float:left;
	border:1px solid #cccccc;
	padding:3px 80px 4px 0px;
	height:35px;
	margin-right:5px;
	
}
#search2{
	position:relative;
	top:-2px;
	border:1px solid #cccccc;
	padding:8px 90px 8px 15px;
}
#button{
	border:1px solid #cccccc;
	background:#333333;
	color:#ffffff;
	font-weight:bold;
	padding:7px 30px;
	cursor:pointer;
}

/* 			Footer 			 */

#sitemapBox
	{position:relative; width:100%; height:300px; background:#fafafa; overflow:hidden; border-top:1px solid #cccccc;}
#sitemapBox>#sitemap
	{position:relative; left:50%; width:1400px; height:300px; margin-left:-700px;}
#sitemapBox>#sitemap>ul
	{width:150px; height:250px; float:left; margin:25px 0px; border-right:1px solid #e5e5e5; margin-left:20px;}
#sitemapBox>#sitemap>ul>li:first-child>a
	{color:#000000; font-weight:bold; letter-spacing:0.2px;}
#sitemapBox>#sitemap>ul>li>a
	{color:#707070; font-size:12px; letter-spacing:0.5px;}
#sitemapBox>#sitemap>ul>li:nth-child(2)
	{margin-top:10px;}
#sitemapBox>#sitemap>ul:first-child>li
	{position:relative; right:50px;margin-top:80px; }
#sitemapBox>#sitemap>ul:last-child
	{border-right:none;}


#footer
	{position:relative; width:100%;  height:210px; background:#2c2a29;}
#footer>.footerbg1
	{position:relative; width:100%; height:46px; background:#2c2a29; border-bottom:1px solid #42403f; overflow:hidden;}
#footer>.footerbg1>#footer1
	{position:relative; left:50%; margin-left:-700px; top:13px; width:1400px; height:46px; color:#808080; }
#footer>.footerbg1>#footer1>a
	{color:#cccccc; margin-left:15px; margin-right:15px; }
#footer>.footerbg1>#footer1>a.fr>img
	{position:absolute; top:-13px; right:0;}
	
#footer>.footerbg2
	{position:relative; width:100%; height:46px; background:#2c2a29;  overflow:hidden;}
#footer>.footerbg2
		{position:relative; left:50%; margin-left:-700px; top:13px; width:1400px; height:134px; color:#808080; }
#footer>.footerbg2>p
	{color:#aaaaaa; float:left; font-size:11px; letter-spacing:0.5px; margin-top:15px;}
#footer>.footerbg2>p>span
	{margin-left:15px; margin-right:10px;}
#footer>.footerbg2>p.mgt
	{margin-top:22px; margin-left:20px;}
	
	
	
	























