@charset "UTF-8";
/* main common */
.main-page .gnb .gnb-wrap.wrap-bottom{background-color:transparent;border-color:transparent;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
.main-page .gnb.expanded .gnb-wrap.wrap-bottom {background-color:#fff !important;border-color:#999 !important;}
.main-page > .content {position: relative;}
.main-sprite, .main-sprite-before:before, .main-sprite-after:after {background-image:url(../images/main/main_sprite.png);background-size:500px auto;background-repeat: no-repeat;}
.main-page.container .content .section .section-inner {width:1145px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.inline-fix {font-size:0;}
.inline-fix > * {vertical-align: top;}
.hide {display: none;}
.main-page .gnb .gnb-inner .menu a img {margin-top:-98px;}
.main-page .gnb.expanded .gnb-inner .menu a img {margin-top:0;}
.main-page .gnb .gnb-inner .menu a:hover img,
.main-page .gnb .gnb-inner .menu a.selected img {margin-top: -49px !important;}
@media screen and (max-width:768px) {
    .main-page.container .content .section .section-inner {width:100%;}
}
@media screen and (max-width:320px) {

}
/* //main common */
/* popup */
.popup-wrap {position: absolute;width: 1040px;left: 0;right: 0;margin-top: 52px;margin-left: auto;margin-right: auto;font-size: 0;}
.popup-wrap .popups {display: inline-block;}
.popup-wrap .popup {position: absolute;display: inline-block;width: 332px;top: 0;border: 1px solid #666;box-shadow: 0 6px 12px 0 rgba(8, 1, 3, 0.2);background-color: #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;z-index: 50;right: auto;margin: 0;}
.popup-wrap .popup.main-popup-1 {left: 12px;}
.popup-wrap .popup.main-popup-2 {left: 354px;}
.popup-wrap .popup.main-popup-3 {left: 696px;}
.popup-wrap .popup.hide {display: none;}
.popup-wrap .popup img {width: 100%;height: auto;vertical-align: top;}
.popup-wrap .popup .popup-inner {width: 100%;border: 5px solid #f1f1f1;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.popup-wrap .popup .popup-content a {display: inline-block;}
.popup-wrap .popup .popup-utils {width: 100%;height: 36px;padding: 0 10px;border-top: 1px solid #ccc;background-color: #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.popup-wrap .popup .popup-utils button {height: 18px;font-size: 12px;font-weight: bold;color: #2f3033;border: none;}
@media screen and (max-width: 768px) {
    .popup-wrap {left: auto;right: auto;margin-top:100px;}
    .popup-wrap, .popup-wrap .popups {width: 100%;}
    .popup-wrap .popup {position: absolute;max-width: 332px;width: 100%;left: 0 !important;right: 0;margin-left: auto !important;margin-right: auto !important;bottom: auto;}
    .popup-wrap .popup + .popup {margin-top: 60px;}
    .popup-wrap .popup + .popup + .popup {margin-top: 120px;}
}
/* //popup */
/* banner */
.section.banner {position:relative;height:100vh;margin-top:-141px;padding-top:81px;min-height:768px;overflow: hidden;}
.section.banner ul {position: relative;overflow: hidden;height:100%;}
.section.banner ul li {position:absolute;width:100%;height:100%;top:0;left:0;visibility: hidden;}
.section.banner ul li.view {visibility: visible;z-index:1;}
.section.banner ul li.view.on {z-index:2;}
.section.banner ul li.old {z-index:1 !important;}
.section.banner ul .img-wrap {position:absolute;width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:center;top:0;left:0;background-color:#000;opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);}
.section.banner.play ul .img-wrap {-webkit-transition: transform 7s linear, opacity 1s;-moz-transition: transform 7s linear, opacity 1s;-ms-transition: transform 7s linear, opacity 1s;-o-transition: transform 7s linear, opacity 1s;transition: transform 7s linear, opacity 1s}
.section.banner ul li.view .img-wrap {opacity:1;}
.section.banner ul li.view.leave .img-wrap,
.section.banner ul li.on .img-wrap {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
.section.banner.stop ul .img-wrap,.section.banner ul li.stop .img-wrap {-webkit-transform: none !important;-moz-transform: none !important;-ms-transform: none !important;-o-transform: none !important;transform: none; !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;}
.section.banner ul .img-wrap .dim {background-color:rgba(0,0,0,0.3);height:100%;}
.section.banner ul .item-01 .img-wrap {background-image:url(../images/main/large/banner/banner_img_1.jpg);}
.section.banner ul .item-02 .img-wrap {background-image:url(../images/main/large/banner/banner_img_2.jpg);}
.section.banner ul .item-03 .img-wrap {background-image:url(../images/main/large/banner/banner_img_3.jpg);}
.section.banner ul .txt-wrap {display:table;width:1145px;height:100%;margin:0 auto;}
.section.banner ul .txt-wrap p {position: relative;z-index:1;display: table-cell;vertical-align: middle;}
.section.banner ul .txt-wrap p img {width:100%;vertical-align: top;margin-left:-70px;opacity: 0;}
.section.banner.play ul .txt-wrap p img {-webkit-transition: all 1.5s;-moz-transition: all 1.5s;-ms-transition: all 1.5s;-o-transition: all 1.5s;transition: all 1.5s;}
.section.banner ul li.on .txt-wrap p img {margin-left:0;opacity: 1;}
.section.banner ul li.on.leave .txt-wrap p img {margin-left:70px;opacity: 0;}
.section.banner.stop ul .txt-wrap p img,.section.banner ul li.stop .txt-wrap p img {margin-left:0 !important;opacity: 1 !important;-webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;}
.section.banner .controller {position:absolute;left:0;right:0;bottom:40px;text-align:center;z-index:10;}
.section.banner .controller button {width:40px;height:40px;border:none;vertical-align: top;font-size:0;}
.section.banner .controller button + button {margin-left:8px;}
.section.banner .controller .btn-dot span {display: inline-block;width:12px;height:12px;border-radius: 50%;background-color:rgba(255,255,255,0.5);}
.section.banner .controller .btn-dot.on span {width:18px;height:18px;background-color:#fff;}
.section.banner .controller .btn-control span {display: inline-block;width:14px;height:20px;background-position:-5px -5px;}
.section.banner .controller .btn-control.stop span {background-position:-83px -5px;}
@media screen and (max-width:768px) {
    .section.banner {min-height:640px;margin-top:-50px;padding-top:50px;}
    .section.banner ul .item-01 .img-wrap {background-image:url(../images/main/small/banner/banner_img_1.jpg);}
    .section.banner ul .item-02 .img-wrap {background-image:url(../images/main/small/banner/banner_img_2.jpg);}
    .section.banner ul .item-03 .img-wrap {background-image:url(../images/main/small/banner/banner_img_3.jpg);}
    .section.banner ul .txt-wrap {position:absolute;display: block;width:70%;height:auto;top:65%;left:0;right:0;min-width:320px;}
    .section.banner .controller button {width:25px;height:25px;}
    .section.banner .controller button + button {margin-left:10px;}
    .section.banner .controller .btn-dot span {width:8px;height:8px;}
    .section.banner .controller .btn-dot.on span {width:12px;height:12px;}
    .section.banner .controller .btn-control span {width:9px; height:13px;background-position:-24px -5px;}
    .section.banner .controller .btn-control.stop span {background-position:-102px -5px;}
}
@media screen and (max-width:320px) {

}
/* //banner */
/* insight */
.section.insight .section-inner {padding-top:100px;}
.section .sec-head {position:relative;}
.section .sec-head h3 {display: inline-block;vertical-align: top;}
.section .sec-head h3 img {height:40px;vertical-align: top;}
.section .sec-head a {position:relative;display: inline-block;font-size:16px;line-height:22px;color:#ea002c;margin-right:14px;}
.section .sec-head a:after {content: '';position:absolute;display: inline-block;width:7px;height:12px;background-position:-38px -5px;margin-left:6px;top:5px;}
.section .sec-head a:before {content:'';position:absolute;display: inline-block;width:0;height:1px;background-color:#ea002c;bottom:-1px;left:0;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;}
.section .sec-head a:hover:before {width:100%;}
.section.insight .sec-head a {float: right;margin-top:16px;}
.section.insight .sec-body {margin-top:26px;}
.section.insight .sec-body ul {overflow: hidden;}
.section.insight .sec-body li {position:relative;float: left;width:375px;overflow: hidden;margin-left:10px;}
.section.insight .sec-body li:first-child {margin-left:0;}
.section.insight .sec-body li a {display: block;}
.section.insight .sec-body li .img-wrap {position:relative;height:400px;overflow: hidden;}
.section.insight .sec-body li .img-move-wrap {height:100%;}
.section.insight .sec-body li .img-wrap img {position: absolute;width:100%;top:0;left:0;vertical-align: top;}
.section.insight .sec-body li .txt-wrap {background-color:#f5f5f5;padding:40px;text-align: center;box-sizing: border-box;}
.section.insight .sec-body li .title-wrap {height:60px;}
.section.insight .sec-body li .title {position:relative;max-height:60px;font-size:22px;line-height:30px;color:#141414;font-weight:bold;top:50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);overflow: hidden;}
.section.insight .sec-body li .dc {height:84px;margin-top:12px;font-size:17px;line-height:28px;color:#666;overflow: hidden;}
.section.insight .sec-body li i {display:inline-block;width:18px;height:18px;background-position:-5px -30px;margin-top:20px;}
.section.insight .hover-dim {position:absolute;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.1);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;}
.device-type-desktop .section.insight a:hover .hover-dim {
    opacity: 1;}
@media screen and (max-width:768px) {
    .section.insight .section-inner {padding-top:30px;padding-left:15px;padding-right:15px;}
    .section .sec-head h3 img {height:22px;}
    .section .sec-head a {position:absolute;font-size:12px;line-height:15px;right:0;margin-right:10px;bottom:4px;}
    .section .sec-head a:after {width:6px;height:10px;background-position:-50px -5px;margin-left:4px;top:2px;}
    .section.insight .sec-head a {float: none;margin-top:0;}
    .section.insight .sec-body {margin-top:15px;}
    .section.insight .sec-body li {width:100%;margin-left:0;margin-top:10px;}
    .section.insight .sec-body li.item-01 {margin-top:0;}
    .section.insight .sec-body li .txt-wrap {position:absolute;width:100%;bottom:0;left:0;background-color:rgba(0,0,0,0.7);padding:12px;text-align: left;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: transform 0.6s;
        -moz-transition: transform 0.6s;
        -ms-transition: transform 0.6s;
        -o-transition: transform 0.6s;
        transition: transform 0.6s;}
    .section.insight .sec-body li.animate .txt-wrap {-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
    .section.insight .sec-body li .title-wrap {height:auto;}
    .section.insight .sec-body li .title {position:static;font-size:18px;line-height:24px;max-height:48px;color:#fff;font-weight:normal;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;transform: none;}
    .section.insight .sec-body li .img-wrap {height:97vw;}
}
@media screen and (max-width:320px) {
    .section .sec-head a {font-size:11px;}
}
/* //insight */
/* news */
.section.news .section-inner {padding-top:100px;padding-bottom:120px;}
.section.news .sec-head {display:inline-block;width:385px;}
.section.news .sec-head .dc {margin-top:20px;}
.section.news .sec-head .dc img{height:80px;}
.section.news .sec-head a {margin-top:34px;}
.section.news .sec-body {display: inline-block;width:760px;position:relative;overflow: hidden;}
.section.news .sec-body a {display: block;}
.section.news .sec-body .img-wrap {position:relative;height:475px;overflow: hidden;}
.section.news .sec-body .img-move-wrap {height:100%;}
.section.news .sec-body .img-wrap img {position:absolute;width:100%;top:0;left:0;}
.section.news .sec-body .txt-wrap {position:absolute;background-color:rgba(0,0,0,0.8);width:100%;bottom:-172px;padding:20px 30px;box-sizing:border-box;z-index:2;
    -webkit-transition: bottom 0.6s;
    -moz-transition: bottom 0.6s;
    -ms-transition: bottom 0.6s;
    -o-transition: bottom 0.6s;
    transition: bottom 0.6s;}
.section.news .sec-body .txt-wrap .title {font-size:26px;line-height:33px;color:#fff;font-weight:bold;height:33px;overflow: hidden;}
.section.news .sec-body .txt-wrap .dc {font-size:17px;line-height:28px;color:#ccc;height:84px;margin-top:15px;overflow: hidden;}
.section.news .sec-body .hover-dim {position:absolute;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.2);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;}
@media screen and (min-width:769px) {
    .section.news.animate .sec-body .txt-wrap {bottom:0;}
    .device-type-desktop .section.news .sec-body a:hover .hover-dim {opacity: 1;}
}
@media screen and (max-width:768px) {
    .section.news .section-inner {padding:35px 15px 30px;}
    .section.news .sec-head {display: block;width:auto;}
    .section.news .sec-head a {margin-top:0;}
    .section.news .sec-body {display:block;width:auto;}
    .section.news .sec-body .txt-wrap {position:static;background-color:#fff;padding:0;margin-top:20px;}
    .section.news .sec-body .txt-wrap .title {font-size:18px;line-height:24px;max-height:48px;font-weight:normal;color:#000;height:auto;}
    .section.news .sec-body .txt-wrap .dc {font-size:14px;line-height:19px;height:57px;color:#767676;}
    .section.news .sec-body .img-wrap {height:57vw;}
}
@media screen and (max-width:320px) {

}
/* //news */
/* quick link */
.section.quick-link > ul {overflow: hidden;}
.section.quick-link > ul > li {position:relative;overflow: hidden;background-color:#808080;}
.section.quick-link .box-bg {position:absolute;width:100%;height:100%;top:0;left:0;background-position:center;background-size:cover;background-repeat: no-repeat;-webkit-transition: transform 0.5s;-moz-transition: transform 0.5s;-ms-transition: transform 0.5s;-o-transition: transform 0.5s;transition: transform 0.5s;}
.device-type-desktop .section.quick-link > ul > li:hover .box-bg {-webkit-transform: scale(1.3);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);}
.section.quick-link .item-01 .box-bg {background-image:url(../images/main/large/bg_quick_link_1.jpg);}
.section.quick-link .item-02 .box-bg {background-image:url(../images/main/large/bg_quick_link_2.jpg);}
.section.quick-link .item-03 .box-bg {background-image:url(../images/main/large/bg_quick_link_3.jpg);}
.section.quick-link .item-01, .section.quick-link .item-02 {float:left;width:50%;height:550px;}
.section.quick-link .box-cont {position:relative;z-index:1;box-sizing: border-box;height:100%;}
.section.quick-link .item-01 .box-cont {float: right;width:572px;}
.section.quick-link .item-02 .box-cont {width:573px;}
.section.quick-link .item-03 .box-cont {padding-top:140px;}
.section.quick-link .item-01 .box-cont, .section.quick-link .item-02 .box-cont {padding-top:70px;padding-left:60px;}
.section.quick-link .item-03 {height:450px;width:100%;}
.section.quick-link h3 {opacity: 0;-webkit-transform: translateY(50px);-moz-transform: translateY(50px);-ms-transform: translateY(50px);-o-transform: translateY(50px);transform: translateY(50px);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;}
.section.quick-link .dc {opacity: 0;-webkit-transform: translateY(50px);-moz-transform: translateY(50px);-ms-transform: translateY(50px);-o-transform: translateY(50px);transform: translateY(50px);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;}
.section.quick-link .animate h3 {opacity: 1;-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
.section.quick-link .animate .dc {opacity: 1;-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
.section.quick-link h3 img {height:20px;margin-bottom:32px;}
.section.quick-link .item-01 .box-cont .dc img, .section.quick-link .item-02 .box-cont .dc img {height:80px;}
.section.quick-link .item-03 .box-cont .dc img {height:100px;}
.section.quick-link .box-cont .link-wrap {position:absolute;bottom:70px;font-size:0;}
.section.quick-link .item-03 .box-cont .link-wrap {left:0;right:0;margin:0 auto;}
.section.quick-link .box-cont .link-wrap a {display: inline-block;}
.section.quick-link .box-cont .link-wrap a span {display: inline-block;font-size:1rem;}
.section.quick-link .box-cont .link-wrap a + a {margin-left:70px;}
.section.quick-link .box-cont .link-wrap img {height:40px;vertical-align: top;}
.section.quick-link .box-cont .link-wrap i {display: inline-block;width:60px;height:40px;background-position:-5px -53px;margin-left:18px;vertical-align: top;}
.section.quick-link .item-01 .box-cont .link-wrap,.section.quick-link .item-02 .box-cont .link-wrap {left:60px;}
@media screen and (min-width:769px) {
    .section.quick-link .box-cont .link-wrap a.animate i {animation-name: moveLinkArrow;animation-duration: 0.6s;}
}
@media screen and (max-width:768px) {
    .section.quick-link .item-01 .box-bg {background-image:url(../images/main/small/bg_quick_link_1.jpg);background-position:center top;}
    .section.quick-link .item-02 .box-bg {background-image:url(../images/main/small/bg_quick_link_2.jpg);background-position:center bottom;}
    .section.quick-link .item-03 .box-bg {background-image:url(../images/main/small/bg_quick_link_3.jpg);}
    .section.quick-link .item-01, .section.quick-link .item-02 {width:100%;height:275px;}
    .section.quick-link .item-03 {height:225px;}
    .section.quick-link .box-cont {width:100% !important;}
    .section.quick-link .item-01 .box-cont {float: none;}
    .section.quick-link .item-01 .box-cont, .section.quick-link .item-02 .box-cont {padding-top:35px;padding-left:30px;}
    .section.quick-link h3 img {height:12px;margin-bottom:15px;}
    .section.quick-link .item-01 .box-cont .dc img, .section.quick-link .item-02 .box-cont .dc img {height:43px;}
    .section.quick-link .box-cont .link-wrap {bottom:35px;}
    .section.quick-link .item-01 .box-cont .link-wrap, .section.quick-link .item-02 .box-cont .link-wrap {left:30px;}
    .section.quick-link .box-cont .link-wrap a + a {margin-left:35px;}
    .section.quick-link .box-cont .link-wrap img {height:20px;}
    .section.quick-link .box-cont .link-wrap i {width:30px;height:20px;background-position:-68px -53px;margin-left:7px;}
    .section.quick-link .item-03 .box-cont {padding-top:60px;}
    .section.quick-link .item-03 .box-cont .dc img {height:70px;margin:0 auto;}
}
@media screen and (max-width:320px) {

}
/* //quick link */
/* tworld */
.section.tworld {background-color:#f5f5f5;}
.section.tworld ul {overflow: hidden;}
.section.tworld ul li {position:relative;float:left;width:286px;height:285px;text-align: center;}
.section.tworld ul li > div {height:100%;}
.section.tworld ul li:not(.item-01) a {display: block;height:100%;}
.device-type-desktop .section.tworld ul li a:hover {background-color:rgba(0,0,0,0.02);}
.section.tworld ul li.item-01 {width:287px;background:url(../images/main/bg_tworld.png) center no-repeat;background-size:cover;}
.section.tworld ul li.item-01 a {position:relative;display: block;height:50%;box-sizing: border-box;}
.section.tworld ul li.item-01 .link-01 {padding-top:67px;}
.section.tworld ul li.item-01 .link-02 {padding-top:35px;}
.section.tworld ul li.item-01 .link-01:after {content:'';position:absolute;display: inline-block;width:160px;height:1px;background-color:rgba(255,255,255,0.5);bottom:0;left:50%;margin-left:-80px;}
.section.tworld ul li.item-01 img {height:40px;font-size:1rem;}
.section.tworld ul li.item-01 .img-wrap {position:relative;font-size:0;}
.section.tworld ul li.item-01 .img-wrap:after {content:'';display:inline-block;width:9px;height:15px;background-position:-61px -5px;margin-left:15px;margin-top:12px;}
.section.tworld ul li.sub i {display: inline-block;width:110px;height:110px;margin-top:62px;}
.section.tworld ul li.sub.item-02 i {background-position:-5px -98px;}
.section.tworld ul li.sub.item-03 i {background-position:-115px -98px;}
.section.tworld ul li.sub.item-04 i {background-position:-225px -98px;}
.section.tworld ul li.sub span {display:block;font-size:20px;line-height:24px;color:#666;margin-top:15px;}
.section.tworld ul li.sub + li.sub:before {content: '';position:absolute;display: inline-block;height:175px;border-left:2px solid #e2e2e2;left:-1px;top:55px;}
@media screen and (max-width:768px) {
    .section.tworld ul li {width:25% !important;height:120px;}
    .section.tworld ul li.item-01 img.is-mobile {height:18px;display: inline-block !important;}
    .section.tworld ul li.item-01 .img-wrap:after {width:5px;height:8px;background-position: -73px -5px;margin-left:7px;margin-top:5px;}
    .section.tworld ul li.item-01 .link-01 {padding-top:27px;}
    .section.tworld ul li.item-01 .link-02 {padding-top:15px;}
    .section.tworld ul li.item-01 .link-01:after {width:66px;margin-left:-33px;}
    .section.tworld ul li.sub i {width:45px;height:45px;margin-top:26px;}
    .section.tworld ul li.sub.item-02 .only-pc i {background-position:-23px -208px;}
    .section.tworld ul li.sub.item-03 .only-pc i {background-position:-68px -208px;}
    .section.tworld ul li.sub.item-04 .only-pc i {background-position:-113px -208px;}
    .section.tworld ul li.sub.item-02 .only-mobile i {background-position:-158px -208px;}
    .section.tworld ul li.sub.item-03 .only-mobile i {background-position:-23px -208px;}
    .section.tworld ul li.sub.item-04 .only-mobile i {background-position:-113px -208px;}
    .section.tworld ul li.sub span {font-size:11px;line-height:16px;margin-top:0;}
    .section.tworld ul li.sub + li.sub:before {border-width:1px;left:0;height:84px;top:18px;}
}
@media screen and (max-width:320px) {
    .section.tworld ul li.item-01 span,.section.tworld ul li.sub span {font-size:10px;}
}
/* //tworld */
/* sns */
.section.sns .section-inner {padding-top:140px;padding-bottom:170px;}
.section.sns h3 {text-align: center;}
.section.sns h3 img {height:30px;}
.section.sns ul {overflow: hidden;}
.section.sns ul li {float: left;}
.section.sns ul li a {display: block;}
.section.sns .item-01 li {width:218px;}
.section.sns .item-02 li {width:75px;}
.section.sns .item-03 li {width:218px;}
.section.sns ul li + li {margin-left:5px;}
.section.sns ul img {width:100%;vertical-align: top;}
.section.sns .outer-ul {margin-top:56px;}
@media screen and (max-width:768px) {
    .section.sns .section-inner {padding:45px 15px 40px;}
    .section.sns h3 img {height:20px;margin: 0 auto;}
    .section.sns .outer-ul {width:330px;margin-top:16px;margin-left:auto;margin-right:auto;}
    .section.sns .item-01 li {width:163.5px;}
    .section.sns .item-02 li {width:52.5px;}
    .section.sns .item-03 li {width:100%;}
    .section.sns ul.outer-ul > li + li {margin-left:0;margin-top:10px;}
    .section.sns ul.inner-ul li + li {margin-left:3px;}
}
@media screen and (max-width:359px) {
    .section.sns .outer-ul {width:290px;}
    .section.sns .item-01 li {width:143px;}
    .section.sns .item-02 li {width:45px;}
    .section.sns ul.inner-ul li + li {margin-left:4px;}
}
/* //sns */


@keyframes moveLinkArrow {
    30% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    70% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-moz-keyframes moveLinkArrow {
    30% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    70% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-webkit-keyframes moveLinkArrow {
    30% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    70% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-ms-keyframes moveLinkArrow {
    30% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    70% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-o-keyframes moveLinkArrow {
    30% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    70% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}