<!DOCTYPE html>
<!--[if IE 7]><html lang="ko" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
	<title> </title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<link href="./font.css" type="text/css" rel="stylesheet">
	<link href="./reset.css" type="text/css" rel="stylesheet">
	<link href="./print.css" type="text/css" rel="stylesheet">
	<link href="./common.css" type="text/css" rel="stylesheet">
	<link href="./category.css" type="text/css" rel="stylesheet">
</head>

<body class="schedule">
	<!--[if lte IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
	<div id="wrap">
		<div id="container"> 
			<div class="schedule-area">
				<div class="schedule-time">
					<ul class="clfix">
						<li class="active prev_active">
							<a href="#">10:00</a>
						</li>
						<li class="active">
							<a href="#">11:00</a>
						</li>
						<li class="active next_active">
							<a href="#">12:00</a>
						</li>
						<li>
							<a href="#">13:00</a>
						</li>
						<li>
							<a href="#">14:00</a>
						</li>
						<li>
							<a href="#">15:00</a>
						</li>
						<li>
							<a href="#">16:00</a>
						</li>
						<li>
							<a href="#">17:00</a>
						</li>
						<li>
							<a href="#">18:00</a>
						</li>
					</ul>
				</div>
				<div class="schedule-list clfix">
					<div class="schedule-list-head">
						<ul>
							<li>
								<a class="prev" href="#">10:00</a>
							</li>
							<li class="on">
								<a href="#">11:00</a>
							</li>
							<li>
								<a class="next" href="#">12:00</a>
							</li>
						</ul>
					</div>
					<div class="schedule-list-detail">
						<ul class="clfix">
							<li class="clfix">
								<p>F2</p>
								<div class="detail-wrp clfix">
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">10:00</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">11:10</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">12:20</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">13:30</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">14:40</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">15:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">16:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live live">생태 설명회</span>
												<span class="prog_name">뒤뚱뒤뚱 펭귄</span>
												<span class="prog_time">17:50</span>
											</a>
										</li>
									</ul>
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">VR영화관</span>
												<span class="prog_time">10:10</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">VR영화관</span>
												<span class="prog_time">12:00</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">VR영화관</span>
												<span class="prog_time">14:00</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">VR영화관</span>
												<span class="prog_time">16:00</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">VR영화관</span>
												<span class="prog_time">18:00</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="clfix">
								<p>F1</p>
								<div class="detail-wrp clfix">
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name live">생태계 생생 터치풀</span>
												<span class="prog_time">10:20</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name">하늘을 날다! 플라잉</span>
												<span class="prog_time">13:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name live">생태계 생생 터치풀</span>
												<span class="prog_time">15:50</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name">하늘을 날다! 플라잉</span>
												<span class="prog_time">16:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name live">생태계 생생 터치풀</span>
												<span class="prog_time">17:50</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name">하늘을 날다! 플라잉</span>
												<span class="prog_time">18:50</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="clfix">
								<p>B1</p>
								<div class="detail-wrp clfix">
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type live">생태 설명회</span>
												<span class="prog_name">메인 수조 식사시간</span>
												<span class="prog_time">10:30</span>
											</a>
										</li>
									</ul>
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">대형 수조 체험 다이빙</span>
												<span class="prog_time">10:40</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">대형 수조 체험 다이빙</span>
												<span class="prog_time">13:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">대형 수조 체험 다이빙</span>
												<span class="prog_time">16:50</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">대형 수조 체험 다이빙</span>
												<span class="prog_time">17:50</span>
											</a>
										</li>
									</ul>
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">시크릿 탐험</span>
												<span class="prog_time">10:50</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name experience">체험 프로그램</span>
												<span class="prog_time">13:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">시크릿 탐험</span>
												<span class="prog_time">14:30</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name experience">체험 프로그램</span>
												<span class="prog_time">15:10</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">시크릿 탐험</span>
												<span class="prog_time">16:10</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">시크릿 탐험</span>
												<span class="prog_time">18:10</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name experience">체험 프로그램</span>
												<span class="prog_time">14:40</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">시크릿 탐험</span>
												<span class="prog_time">12:30</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name experience">체험 프로그램</span>
												<span class="prog_time">15:10</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type experience">체험 프로그램</span>
												<span class="prog_name">시크릿 탐험</span>
												<span class="prog_time">18:10</span>
											</a>
										</li>
									</ul>
									<ul class="width-is-time clfix">
										<li>
											<a href="#">
												<span class="prog_type show">공연 프로그램</span>
												<span class="prog_name">아쿠아 판타지아 &amp; 아쿠아 스토리</span>
												<span class="prog_time">10:50</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type show">공연 프로그램</span>
												<span class="prog_name">아쿠아 판타지아 &amp; 아쿠아 스토리</span>
												<span class="prog_time">14:50</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="prog_type show">공연 프로그램</span>
												<span class="prog_name">아쿠아 판타지아 &amp; 아쿠아 스토리</span>
												<span class="prog_time">13:50</span>
											</a>
										</li>
										<li class="on-time">
											<a href="#">
												<span class="prog_type show">공연 프로그램</span>
												<span class="prog_name">아쿠아 판타지아 &amp; 아쿠아 스토리</span>
												<span class="prog_time">14:50</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<!-- footer include -->
			<div class="footer_content">footer</div><!-- footer include -->
		</footer>
	</div>
	<div class="dimm">
		<img src="../../images/common/blank_size_100.png" alt="" />
	</div>
	<script src="./jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="./common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>