<!DOCTYPE html>
<!--[if IE 7]><html lang="ko" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
	<title> </title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<link href="./font.css" type="text/css" rel="stylesheet">
	<link href="./reset.css" type="text/css" rel="stylesheet">
	<link href="./print.css" type="text/css" rel="stylesheet">
	<link href="./common.css" type="text/css" rel="stylesheet">
	<link href="./category.css" type="text/css" rel="stylesheet">
</head>

<body class="non-min">
	<!--[if lte IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
	<div id="wrap">
		<div id="container">
			<div class="ui-time">
				<p class="date">워크샵 일정표</p>
				<ul>
					<li class="use">
						<p class="time">9:00</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(0)')">집결</a>
					</li>
					<li class="use">
						<p class="time">9:20</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(1)')">차량이동</a>
                    </li>
					<li>
						<p class="time">10:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">10:30</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(2)')">조별과제연습</a>
					</li>
					<li>
						<p class="time">11:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">11:20</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">11:30</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(3)')">조별 미션</a>
					</li>
					<li>
						<p class="time">12:10</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">12:20</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(4)')">점심</a>
					</li>
					<li>
						<p class="time">13:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">13:10</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(5)')">야외 레크레이션</a>
					</li>
					<li>
						<p class="time">13:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">14:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">14:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">15:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">15:30</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(6)')">조별 과제 연습</a>
					</li>
					<li>
						<p class="time">16:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">16:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">17:00</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(7)')">세미나</a>
					</li>
					<li>
						<p class="time">17:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">18:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">18:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">19:00</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(8)')">바비큐</a>
					</li>
					<li>
						<p class="time">19:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">20:00</p>
						<a class="to-do" href="#"></a>
					</li>
					<li>
						<p class="time">20:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">21:00</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(9)')">저녁 게임</a>
					</li>
					<li>
						<p class="time">22:30</p>
						<a class="to-do" href="#"></a>
					</li>
					<li class="use">
						<p class="time">23:00</p>
						<a class="to-do" href="#" onclick="popuponoff(this,'.popup_time_schedule:eq(10)')">뒷풀이</a>
					</li>
					<li>
						<p class="time">23:30</p>
						<a class="to-do" href="#"></a>
					</li>

					<li>
						<p class="time">24:00</p>
						<a class="to-do" href="#"></a>
					</li>
				</ul>
			</div>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>집결</p>
            </div>
            <div class="place">
                <img src="//t1.daumcdn.net/cfile/tistory/9975AD445C277FB61B" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">서울 스퀘어 앞</p>
                <ul>
                    <li>집결후 차량으로</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>차량이동</p>
            </div>
            <div class="place">
                <img src="https://t1.daumcdn.net/cfile/tistory/99D352425BA9B22636" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">차량안</p>
                <ul>
                    <li>이동시간:약 60분 소요</li>
                    <li>버스게임(이주민, 임준석)</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>조별 과제 연습</p>
            </div>
            <div class="place">
                <img src="//modo-phinf.pstatic.net/20160701_174/1467356411976DNPIa_JPEG/mosaivpa2e.jpeg?type=f320_320" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">원과호 - 1층홀</p>
                <ul>
                    <li>구호 정하기</li>
                    <li>조별 이름을 주제로 공연준비</li>
                </ul>
            
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>조별미션</p>
            </div>
            <div class="place">
                <img src="//newsimg.hankookilbo.com/2017/01/15/201701152030547359_1.jpg" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">영어마을</p>
                <ul>
                    <li>조별 인생샷 3컷</li>
                    <li>커플 인생샷 3컷</li>
                    <li>게시판(워크샵)에 업로드</li>
                    <li>12시 10분까지 콘서트홀로 집합</li>
                    <li>단체 기념촬영</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>점심</p>
            </div>
            <div class="place">
                <img src="//image5.hanatour.com/mst_info_image/2/P000272142_S.jpg" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">영어마을 -카페테리아</p>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>야외 레크레이션</p>
            </div>
            <div class="place">
                <img src="//pimage.design.co.kr/media/cms/enfant/2006/05/1148222760153.jpg" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">영어마을 -잔디구장</p>
                <ul>
                    <li>레크레이션 진행(김옥남,방민규)</li>
                    <li>기념촬영</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>조별 과제 연습</p>
            </div>
            <div class="place">
                <img src="//www.ildongmom.com/data/blog/dldl3318/1515441949_1_6.jpg" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">원과호</p>
                <ul>
                    <li>입실 안내</li>
                    <li>공연 준비</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>세미나</p>
            </div>
            <div class="place">
                <img src="//cdn.imweb.me/thumbnail/20180619/5b28660e399a2.jpg" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">원과호 - 1층홀</p>
                <ul>
                    <li>이트라이브 실적 발표(안민식,최은영)</li>
                    <li>어워드 시상식</li>
                    <li>기념촬영</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>저녁 - 바비큐</p>
            </div>
            <div class="place">
                <img src="//t1.daumcdn.net/cfile/tistory/244F0248571F811A1E" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">원과호 - 1층홀</p>
                <ul>
                    <li>저녁 식사</li>
                    <li>건배사</li>
                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>저녁 게임</p>
            </div>
            <div class="place">
                <img src="//post-phinf.pstatic.net/MjAxNzAzMDZfMjkx/MDAxNDg4NzU2ODE5MDgy.-VFdiFbEzR71CiUWIMK3dzOlFoW1iWi19ytnmdNdjDEg.hFQ-DhJEVBYVSGufhFHYDsdDBxjvzETRZx8m2Z369gEg.JPEG/mug_obj_148875681979675706.JPG?type=w1080" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">원과호 - 1층홀</p>
                <ul>
                    <li>저녁 게임 진행(김태호, 한경숙)</li>

                </ul>
            </div>
            <button>X</button>
        </div>

        <div class="popup_time_schedule">
            <div class="title">
                <p>뒷풀이</p>
            </div>
            <div class="place">
                <img src="//images.unsplash.com/photo-1533219057257-4bb9ed5d2cc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
            </div>

            <div class="what-do">
                <p class="place-tit">원과호 - 3층홀</p>
            </div>
            <button>X</button>
        </div>
	</div>

    <script src="./jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="./common.js" type="text/javascript" charset="utf-8"></script>
    <script>
        function popuponoff(_tg,_target){
            var tg = $(_tg);
            var target = $(_target);
            $('.to-do').removeClass('on-time');
            tg.addClass('on-time');
            target.hasClass('on') ? target.removeClass('on') : target.addClass('on');

            var listOffTop = $(_tg).offset().top;
            var scrollH = $(window).height();
            $('html,body').stop().animate({scrollTop:listOffTop-(scrollH/2)},800,'easeInOutExpo');
            return false;
        }
        $('.popup_time_schedule button').click(function(){
            $('.popup_time_schedule').removeClass('on');
        });

        $('.to-do').click(function(){
            return false;
        });
        $(document).keydown(function(e) {
            // ESCAPE key pressed
            if (e.keyCode ==40 ) {
                $('.popup_time_schedule').removeClass('on');
            }
        });
        $(document).ready(function(){
            var time = $('.ui-time').find('li.use');
            var timelength = time.length;

            function uiTimemove(){
                var date = new Date();
                var hour = date.getHours();
                var min = date.getMinutes();
                if (min<10){
                    var currentTime = ""+hour+"0"+min+"";
                }else{
                    var currentTime = ""+hour+""+min+"";
                }
                var currentTime = parseInt(currentTime);

                for (var i=0; i<timelength; i++){
                    var timeLists = time.eq(i);
                    var timenext = time.eq(i+1);
                    var listOffTop = timeLists.offset().top;
                    var scrollH = $(window).height();

                    var scheduleTime = timeLists.find('.time').text();
                    var scheduleSplit = scheduleTime.split(":");
                    var ListTime = parseInt(scheduleSplit[0] + scheduleSplit[1]);

                    var scheduleNext = timenext.find('.time').text();
                    var scheduleNextSplit = scheduleNext.split(":");
                    var nextTime = parseInt(scheduleNextSplit[0] + scheduleNextSplit[1]);

                    if(ListTime <= currentTime && currentTime < nextTime){
                        $('.to-do').removeClass('on-time');
                        timeLists.find('.to-do').addClass('on-time');
                        $('html,body').stop().animate({scrollTop:listOffTop-(scrollH/2)},800,'easeInOutExpo');
                        // console.log('--------------');
                        // console.log(ListTime);
                        console.log(currentTime);
                        // console.log(nextTime);
                        // console.log('--------------');
                    }
                }
            }

            uiTimemove();
            setInterval(function(){
                uiTimemove();
            },300000);

        });

    </script>
</body>

</html>

