<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title>Three_depth Menu bar</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div id="side_nav">
		<ul>
			<li class="home"><a href="#"><i class="fas fa-cube fa-spin"></i></a></li>
			<li class="menu"><a href="#"><i class="fas fa-bars"></i></a>
				<ul>
					<li class="mt"><a href="index.html">Home</a></li>
					<li class="list"><a href="#">Two_depth1</a><span class="th_bg"></span><span class="text_bg"></span>
						<ul class="th_dep">
							<li class="mt"><a href="#">Three_depth1_1</a></li>
							<li><a href="#">Three_depth1_2</a></li>
							<li><a href="#">Three_depth1_3</a></li>
							<li><a href="#">Three_depth1_4</a></li>
						</ul>
					</li>
					<li class="list"><a href="#">Two_depth2</a><span class="th_bg"></span><span class="text_bg"></span>
						<ul class="th_dep">
							<li class="mt2"><a href="#">Three_depth2_1</a></li>
							<li><a href="#">Three_depth2_2</a></li>
							<li><a href="#">Three_depth2_3</a></li>
							<li><a href="#">Three_depth2_4</a></li>
						</ul>
					</li>					
				</ul>
			</li>
			<li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
		</ul>
	</div>
	<div id="section">
		
	</div>

</body>
</html>