<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title>Hover </title>
	<link rel="stylesheet" href="css/style.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div class="hover_box">
		<div class="hover_cover"><img src="images/bg1.jpg" alt="" /></div>
	</div>
	<div class="hover_box">
		<div class="hover_cover"><img src="images/bg2.jpg" alt="" /></div>
	</div>
	<div class="hover_box">
		<div class="hover_cover"><img src="images/bg3.jpg" alt="" /></div>
	</div>

</body>
</html>