// @import 'mixin';

// Normal setting

$identity:#009dbd;
$opa_identity:rgba(62, 107, 180, 0.5);
$light_identity:#cce6ff;
$sub_identity:#bda24d;
$sub_light_identity:#e6c866;
$black_blind:rgba(0, 0, 0, 0.6); 

$center_width:80vw;
$header_height:95px;

////////////////////////////////////////////////////

////////////////////// Adaptive 

////////////////////////////////////////////////////

$breakpoints: ('mobile': (max-width: 767px),
'tablet': (max-width: 1024px),
'medium': (max-width: $center_width),
'large': (min-width: $center_width),
) !default;
 
@mixin respond-to($breakpoint) {

    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {

        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        } 
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}


////////////////////////////////////////////////////

////////////////////// Mixin

////////////////////////////////////////////////////

@mixin appearance($dater...) {
    -webkit-box-shadow: $dater;
    -moz-box-shadow: $dater;
    -ms-box-shadow: $dater;
    -o-box-shadow: $dater;
    box-shadow: $dater;
}

@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -ms-box-shadow: $shadows;
    -o-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transformw: $transform;
    -o-transform: $transform;
    transform: $transform;

}

@mixin border-radius($border...) {
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    -ms-border-radius: $border;
    -o-border-radius: $border;
    border-radius: $border;
}

@mixin word-break($break...) {
    -webkit-word-break: $break;
    -moz-word-break: $break;
    -ms-word-break: $break;
    -o-word-break: $break;
    word-break: $break;
}

// fadeOut 4s 1s infinite linear alternate
// nage time delay infinite animateShape line
@mixin animation($animation...) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin flexGrid($display...) {
    display: -webkit-$display;
    display: -moz-$display;
    display: -ms-$display;
    display: -o-$display;
    display: $display;
}

@mixin flex($num...) {
    -webkit-flex: $num;
    -moz-flex: $num;
    -ms-flex: $num;
    -o-flex: $num;
    flex: $num;
}

@mixin grid-template-columns($data...) {
    -webkit-grid-template-columns: $data;
    -moz-grid-template-columns: $data;
    -ms-grid-template-columns: $data;
    -o-grid-template-columns: $data;
    grid-template-columns: $data;
}

@mixin text-shadow($shadow...){
    -webkit-text-shadow: $shadow;
    -moz-text-shadow: $shadow;
    -ms-text-shadow: $shadow;
    -o-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin box-sizing($sizing...){
    -webkit-box-sizing:$sizing;
    -moz-box-sizing:$sizing;
    -ms-box-sizing:$sizing;
    -o-box-sizing:$sizing;
    box-sizing:$sizing;
}

////////////////////////////////////////////////////

////////////////////// import font url

////////////////////////////////////////////////////

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Coda+Caption:800');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body, div, span , object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none; 
    color:#000000; 
    /* font-family: 'NanumSquare', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
    @include box-sizing(border-box);
    @include appearance(none);

}

html{min-width:320px;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

ul, ol {list-style:none;}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}

ins {background-color:#ff9; color:#000; text-decoration:none;}

mark { background-color:#ff9; color:#000;  font-style:italic; font-weight:bold;}

del { text-decoration: line-through;}

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}

table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}

input, select, textarea { 
    vertical-align:middle;
    @include box-sizing(border-box);
    margin:0; padding:0; 
    border:1px solid #cccccc;
    outline:0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

button {border:0; background: none; outline:0; cursor:pointer;  font-family: 'NanumSquare', sans-serif;
    @include box-sizing(border-box);
    @include appearance(none);
    line-height:1;
}

.fl {float:left;}
.fr {float:right;}

.bold {font-weight:bold;}
.txt_center{text-align:center;}
.txt_right{text-align:right;}
.txt_left{text-align:left;}
.cf::after{content:""; display:block; clear:both;}
.border_n{border:0;}

.bg_blue{background:#386197;}
.bg_green{background:#65bd77;}
.bg_red{background:#ee5140;}
.bg_orange{background:#ffc333;}
.bg_yellow{background:#fdec4d;}
.bg_white{background-color:white;}
.bg_grey{background-color:#cccccc;}
.bg_darkgrey{background-color:#858585;}
.bg_whitegrey{background-color:#eeeeee;}
.bg_darknavy{background-color:#181d22;}
.bg_lightgreen{background-color:#46b154}
.bg_lightblue{background-color:#337bda;}
.bg_deeporange{background-color:#e97b32;}
.bg_deepblue{background-color:#3330dd;}
.bg_deepred{background-color:#ff0000;}
.border_b{border-bottom:1px solid #cccccc;}
.dis_none{display:none;}

.color_black{color:#000000;}
.color_red{color:#cf3e3e;}
.color_deepred{color:#ff0000;}
.color_blue{color:#4b49ca;}
.color_skyblue{color:#2c75b9;}
.color_lightblue{color:#b8d6f1;}
.color_yellow{color:#fdec4d;}
.color_white{color:#ffffff;}
.color_cyanblue{color:#0048ff;}

/* Publisher made by jungo : contact 010-8652-5734 */

sup.up_two
    {position:relative; font-size:8px; bottom:8px; right:5px;}

.width_10
    {width:10%;}
.width_15
    {width:15%;}
.width_20
    {width:20%;}
.width_25
    {width:25%;}
.width_30
    {width:30%;}
.width_35
    {width:35%;}
.width_40
    {width:40%;}
.width_45
    {width:45%;}
.width_50
    {width:50%;}
.width_55
    {width:55%;}
.width_60
    {width:60%;}
.width_65
    {width:65%;}
.width_70
    {width:70%;}
.width_75
    {width:75%;}
.width_80
    {width:80%;}
.width_85
    {width:85%;}
.width_90
    {width:90%;}
.width_95
    {width:95%;}
.width_100
    {width:100%;}


// Chrome scroll bar custom

/* width */
::-webkit-scrollbar {
    width:15px;
    position:absolute;
    background:transparent;
    height:6.5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius:0px;
    position:absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:$opa_identity;
    border-radius:0px;
    position:absolute;
}
