<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<title>푸른주택</title>
	<link rel="stylesheet" href="css/style.css?v=2" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div id="header">
		<div class="td_bg"></div>
		<ul class="nav">
			<li class="home_btn"><a href="index.html">푸른주택<i class="fas fa-building"></i></a></li>
			<li class="ml"><a href="#">메뉴1</a>
				<ul class="tD">
					<li><a href="#">메뉴1_1</a></li>
					<li><a href="#">메뉴1_2</a></li>
					<li><a href="#">메뉴1_3</a></li>
					<li><a href="#">메뉴1_4</a></li>
				</ul>
			</li>
			<li><a href="#">메뉴2</a>
				<ul class="tD">
					<li><a href="#">메뉴2_1</a></li>
					<li><a href="#">메뉴2_2</a></li>
					<li><a href="#">메뉴2_3</a></li>
					<li><a href="#">메뉴2_4</a></li>
				</ul>				
			</li>
			<li><a href="#">메뉴3</a>
				<ul class="tD">
					<li><a href="#">메뉴3_1</a></li>
					<li><a href="#">메뉴3_2</a></li>
				</ul>				
			</li>
			<li><a href="#">메뉴4</a></li>
			<li><a href="#">메뉴5</a>
				<ul class="tD">
					<li><a href="#">메뉴5_1</a></li>
					<li><a href="#">메뉴5_2</a></li>
					<li><a href="#">메뉴5_3</a></li>
				</ul>				
			</li>			
			<li class="contact"><a href="#"><i class="fas fa-phone"></i>010-3333-3333</a></li>
		</ul>
	</div>
	<div id="content01" class="sizeW">
		<ul class="slide_img">
			<li class="img01 start"></li>
			<li class="img02"></li>
			<li class="img03"></li>
			<li class="img04"></li>
		</ul>
		<div class="text_box">
			<div class="line_top bar"><span class="startC"><span class="C_bg fullF"></span></span><span class="line_bg"></span></div>
			<div class="line_right bar"><span class="startC"><span class="C_bg"></span></span><span class="line_bg"></span></div>
			<div class="line_bottom bar"><span class="startC"><span class="C_bg"></span></span><span class="line_bg"></span></div>
			<div class="line_left bar"><span class="startC"><span class="C_bg"></span></span><span class="line_bg"></span></div>
			<div class="text">
				<ul>
					<li class="show">
						<span class="title">제목1</span>
						<span class="sub">내용을 입력하세요 1</span>
					</li>
					<li>
						<span class="title">제목2</span>
						<span class="sub">내용을 입력하세요 2</span>					
					</li>
					<li>
						<span class="title">제목3</span>
						<span class="sub">내용을 입력하세요 3</span>					
					</li>
					<li>
						<span class="title">제목4</span>
						<span class="sub">내용을 입력하세요 4</span>					
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="footer">
	
	</div>
</body>
</html>